recursive-include openquakeplatform             admin/*/*  templates/*  templates/*/*  templates/*/*/*  templatetags/*  fixtures/*  management/*  management/*/*  thumbs/*  sql/*
recursive-include openquakeplatform/static      *
recursive-include openquakeplatform/*/static    *
recursive-include openquakeplatform             apache2/*       bin/*   local_settings.py.template
recursive-include openquakeplatform/*/gs_data   *
recursive-include openquakeplatform/*/dev_data  *
recursive-include openquakeplatform/test        *.tmpl
