{% extends "gemecd_base.html" %}
{% load generictablerenderer %}

{% block main %}

{% block filterbar %}
    <!-- this kind of page does not have a filter bar - just keep the space free -->
    <div id="ecd-filterbar">

        <!--start filter bar-->
        <div id="filterbar">
            <div id="filterbarright">
                <div id="backlink">{{ page_backlink|safe }}</div>
            </div>
        </div>
        <!--end filter bar -->
    </div>
{% endblock filterbar %}

{% block leftpanel %}
        <div id="ecd-leftpanelwide">
            <div id="panelcontainerwide">

                {%  if editmode and not addmode%}
                    <form method="post" class="pageedit">{% csrf_token %}

                     <table>
                        {% if locationform.errors %}
                             <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                        {%  endif %}
                        {% if inventoryclassform.errors %}
                             <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                        {%  endif %}


                        {{ locationform.as_table }}

                        {{ inventoryclassform.as_table }}

                        {% for surveyform in surveyformlist %}
                            {% if surveyform.errors %}
                                <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                            {%  endif %}
                            {{ surveyform.as_table }}
                        {% endfor %}
                     </table>

                     {% if damagelevelsdict|length > 0 %}
                        <h4 class="matrixtitle damage">Damage Matrix</h4>

                        <div class="matrixdisplay damage">
                        <table class="matrixdisplay damage"><tr><th class="damagelevelheader inventoryclassheader"></th>
                        {%  for key,value in damagelevelsdict.items %}
                            <th class="damagelevelheader"><a href="/ecd/damagelevel/{{ key }}">{{ value }}</a></th>
                        {%  endfor %}</tr>
                        {% for row in damagematrixformarray %}
                        <tr>
                            <th class="inventoryclassheader">{% for key,value in inventoryclassesdict.items %}{% ifequal forloop.counter forloop.parentloop.counter %}<a href="/ecd/inventoryclass/{{ key }}">{{ value }}</a>{% endifequal %}{% endfor %}</th>
                            {%  for cell in row %}
                                    {% if cell.errors %}
                                        <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                                    {%  endif %}
                                   {% if cell != '-' %}
                                    <td class="cell"><table>{{ cell.as_table }}</table></td>
                                   {% else %}
                                    <td class="cell">-</td>
                                   {% endif %}
                            {% endfor %}
                         </tr>
                         {% endfor %}
                         </table>
                         </div>
                     {% endif %}

                     {% if casualtylevelsdict|length > 0 %}
                        <h4 class="matrixtitle casualty">Casualty Matrix</h4>

                        <div class="matrixdisplay casualty">
                        <table class="matrixdisplay casualty"><tr><th class="casualtylevelheader inventoryclassheader"></th>
                        {%  for key,value in casualtylevelsdict.items %}
                            <th class="casualtylevelheader"><a href="/ecd/casualtylevel/{{ key }}">{{ value }}</a></th>
                        {%  endfor %}</tr>
                        {% for row in casualtymatrixformarray %}
                        <tr>
                            <th class="inventoryclassheader">{% for key,value in inventoryclassesdict.items %}{% ifequal forloop.counter forloop.parentloop.counter %}<a href="/ecd/inventoryclass/{{ key }}">{{ value }}</a>{% endifequal %}{% endfor %}</th>
                            {%  for cell in row %}
                                    {% if cell.errors %}
                                        <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                                    {%  endif %}
                                   {% if cell != '-' %}
                                    <td class="cell"><table>{{ cell.as_table }}</table></td>
                                   {% else %}
                                    <td class="cell">-</td>
                                   {% endif %}
                            {% endfor %}
                         </tr>
                         {% endfor %}
                         </table>
                         </div>
                     {% endif %}


                    <input type="submit" value="Save" class="gobutton"/>
                     </form>
                {%  endif %}

                {%  if editmode and addmode%}
                    <form method="post" class="pageedit">{% csrf_token %}

                     <table>
                        {% if form.errors %}
                             <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                        {%  endif %}

                        {{ form.as_table }}
                     </table>
                     <input type="submit" value="Save" class="gobutton"/>

                {% endif %}

                {% if not input_errors and not editmode%}
                <div class="infocontainerwide">
                <h3>{{ event_name }}</h3>
                <div id = "studyname">{{ study_name }}</div>
                <h2>{{location_name }}</h2>
                {% if nonaggoverviewfields != '' %}{% formviewastable field_structure=nonaggoverviewfields %}{% endif %}
                </div>

                {% comment %}
                {% if nonaggoverviewfields != '' %}
                    <div class="infocontainer">
                    <h4>Overview</h4>
                    {% formviewastable field_structure=nonaggoverviewfields %}
                    </div>
                {% endif %}
                {% endcomment %}

                <div class="infocontainer">
                <h4>Location details</h4>
                {% formviewastable field_structure=locationfields %}
                </div>

                {% if inventoryclassfields != '' %}
                    <div class="infocontainer">
                    <h4>Inventory Class details</h4>
                    Taxonomy string
                    <div class="narrowtaxonomystring">{{ taxonomy_string }}</div>
                    {% formviewastable field_structure=inventoryclassfields %}
                    </div>
                {% endif %}

                {% for surveyfields in surveyfieldlist %}
                    <div class="infocontainer">
                    <h4>Survey details</h4>
                    {% formviewastable field_structure=surveyfields %}
                    </div>
                {% endfor %}

                {% if damagelevelsdict|length > 0 %}
                    <div class="infocontainerwide">
                    <h4 class="matrixtitle damage">Damage Matrix</h4>

                    <div class="matrixdisplay damage">
                    <table class="matrixdisplay damage"><tr><th class="damagelevelheader inventoryclassheader"></th>
                    {%  for key,value in damagelevelsdict.items %}
                        <th class="damagelevelheader"><a href="/ecd/damagelevel/{{ key }}">{{ value }}</a></th>
                    {%  endfor %}</tr>
                    {% for row in damagematrixdisplayarray %}
                    <tr>
                        <th class="inventoryclassheader">{% for key,value in inventoryclassesdict.items %}{% ifequal forloop.counter forloop.parentloop.counter %}<a href="/ecd/inventoryclass/{{ key }}">{{ value }}</a>{% endifequal %}{% endfor %}</th>
                        {%  for element in row %}
                               {% if element != '-' %}
                                <td class="cell"><a href="/ecd/surveyvalue/{{ element.id }}">{% formview field_structure=element.cell %}</a></td>
                               {% else %}
                                <td class="cell">-</td>
                               {% endif %}
                        {% endfor %}
                     </tr>
                     {% endfor %}
                     </table>
                     </div>
                     </div>
                {% endif %}

                {% if casualtylevelsdict|length > 0 %}
                    <div class="infocontainerwide">
                    <h4 class="matrixtitle casualty">Casualty Matrix</h4>

                    <div class="matrixdisplay casualty">
                    <table class="matrixdisplay casualty"><tr><th class="casualtylevelheader inventoryclassheader"></th>
                    {%  for key,value in casualtylevelsdict.items %}
                        <th class="casualtylevelheader"><a href="/ecd/casualtylevel/{{ key }}">{{ value }}</a></th>
                    {%  endfor %}</tr>
                    {% for row in casualtymatrixdisplayarray %}
                    <tr>
                        <th class="inventoryclassheader">{% for key,value in inventoryclassesdict.items %}{% ifequal forloop.counter forloop.parentloop.counter %}<a href="/ecd/inventoryclass/{{ key }}">{{ value }}</a>{% endifequal %}{% endfor %}</th>
                        {%  for element in row %}
                               {% if element != '-' %}
                                <td class="cell"><a href="/ecd/surveyvalue/{{ element.id }}">{% formview field_structure=element.cell %}</a></td>
                               {% else %}
                                <td class="cell">-</td>
                               {% endif %}
                        {% endfor %}
                     </tr>
                     {% endfor %}
                     </table>
                     </div>
                     </div>
                {% endif %}

                {% endif %}
            </div>
        </div>

{% endblock leftpanel %}

{% block rightpanel %}

    <div id="ecd-rightpanelnarrow">
    {% if not input_errors %}
        <div id="map">
        </div>

            {% comment %}
                <form class="quicklinklocation" method="post">{% csrf_token %}
                    {{ panelform.as_p }}
                </form>
            {% endcomment %}

        {% if photogrid != '' %}
        <div id="photogrid">
            <h4>{{ photomessage }}</h4>
            {% gridlist field_structure=photogrid %}
        </div>

        {% endif %}
    {% endif %}
    </div>
{% endblock rightpanel %}

{% block map %}

    <!--[if lt IE 8]><div id="ie8message">You are using a version of Internet Explorer that cannot display this page - This page requires at least Internet Explorer 9 - or you can use Firefox, Chrome or Safari</div><![endif]-->

    <script type="text/javascript">



        jQuery(document).ready(function($){

            // first fit the bounds to the locations (must be done in the document ready function)
            //var bounds = L.geoJson(geojsonFeaturePoints).getBounds();
            //if (bounds && bounds.getNorthEast() && bounds.getSouthWest())
            //{
            //    map.fitBounds(bounds);
            //}

            // first fit the bounds to the union of all the layers that are visible (must be done in the document ready function)
            try
            {
                var bounds = boundsGroup.getBounds();
                if (bounds._northEast.lat == bounds._southWest.lat &&
                    bounds._northEast.lon == bounds._southWest.lon) {
                    // if bounds collapsed to single point we expand it +- 0.1 degrees
                    bounds._northEast.lat += 0.1; 
                    bounds._southWest.lat -= 0.1;
                    bounds._northEast.lon += 0.1; 
                    bounds._southWest.lon -= 0.1;
                }
                if (bounds && bounds.getNorthEast() && bounds.getSouthWest())
                {
                    map.fitBounds(bounds);
                }
            }
            catch(e){
                alert('unable to zoom the map to the location');
            }
        });
    </script>

{% block gemecd_map %}
    <script type="text/javascript">
        // GEM ECD specific mapping



        var customIcon = L.icon({
            iconUrl: '{{ STATIC_URL }}Leaflet/dist/images/marker-icon.png',
            shadowUrl: '{{ STATIC_URL }}Leaflet/dist/images/marker-shadow.png',
            iconSize:     [12, 20], // size of the icon
            shadowSize:   [20, 20], // size of the shadow
            iconAnchor:   [6, 20], // point of the icon which will correspond to marker's location
            shadowAnchor: [6, 20],  // the same for the shadow
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });

        var boundsGroup = new L.FeatureGroup();

        var geojsonFeaturePoints = {{ geojsonpoints|safe }}

                pointsLayer = L.geoJson(geojsonFeaturePoints,
                        {
                            pointToLayer: function (feature, latlng)
                            {
                                var mkr =  L.marker(latlng, {icon:customIcon, title:feature.properties.s + ": " + feature.properties.n });
                                mkr.featureID = feature.properties.i;
                                return mkr;
                            }
                        }
                );
                if ((pointsLayer._layers[1] != null) ) // only way I can find of detecting a leaflet layer that is empty
                {
                    boundsGroup.addLayer(pointsLayer);
                }

                var polyCount = 0;
                var polygonsLayerList = [];

        {% for geojsonpolygons in geojsonpolygonslist %}

                var geojsonFeaturePolygons = {{ geojsonpolygons|safe }}

                var polyStyle = {
                    "color": "#ff7800",
                    "weight": 1,
                    "opacity": 0.65
                };

                polygonsLayer = L.geoJson(geojsonFeaturePolygons,{ style:polyStyle });
                polygonsLayerList.push(polygonsLayer);
                boundsGroup.addLayer(polygonsLayer);
                polyCount++;
        {% endfor %}

        // set up epicentre graphics
        var epicentre = L.marker([{{ epicentre.lat }}, {{ epicentre.lon }}], {'title': 'Epicentre: {{ paneltitle }}'});
        boundsGroup.addLayer(epicentre);

        var radius = 5000;  // metres
        var numberOfCircles = 10;
        var radiusLayer = L.layerGroup();

        for (var i=1; i < numberOfCircles + 1; i++)
        {
                radiusLayer.addLayer(L.circle([{{ epicentre.lat }}, {{ epicentre.lon }}], radius * i, {'weight':1, 'color': '#f88', 'fillColor': '#f66', 'fillOpacity': 0.03}));
        }

        //end of GEM ECD mapping
    </script>


{% endblock gemecd_map %}

 <script type="text/javascript">
        backgroundmap = new L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            subdomains: ['1', '2', '3', '4'],
            maxZoom: 18
        });
        var overlays = {
            "Epicenter" : epicentre,
            "5km radial rings": radiusLayer,
            "Points layer" : pointsLayer
        };

        // create the map
        var map = L.map('map', {
            center: [20, 20],
            zoom: 2,
            maxZoom: 18,
            layers: [ backgroundmap, pointsLayer, epicentre, radiusLayer]
        });

        // add polygon layers
        for (var i=0; i<polyCount;i++ )
        {
            overlays["Polygon Layer " + i] = polygonsLayerList[i];
            map.addLayer(polygonsLayerList[i]);
        }

        //L.control.layers(baselayer, overlays).addTo(map);

        // Add Wax support
        //L.wax(map);

    </script>
{% endblock map %}

{% endblock main %}
