[submodule "oq-ui-client/app/static/externals/geoext"]
	path = oq-ui-client/app/static/externals/geoext
	url = https://github.com/opengeo/GeoExt.git
[submodule "oq-ui-client/app/static/externals/gxp"]
	path = oq-ui-client/app/static/externals/gxp
	url = https://github.com/opengeo/gxp.git
[submodule "oq-ui-client/app/static/externals/openlayers"]
	path = oq-ui-client/app/static/externals/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "oq-ui-client2/src/Leaflet"]
	path = oq-ui-client2/src/Leaflet
	url = https://github.com/Leaflet/Leaflet
[submodule "oq-ui-client2/src/wax"]
	path = oq-ui-client2/src/wax
	url = git://github.com/mapbox/wax.git
[submodule "oq-ui-client2/src/Leaflet.draw"]
	path = oq-ui-client2/src/Leaflet.draw
	url = git://github.com/gem/Leaflet.draw.git
