{% extends "page_layout.html" %}
{% load generictablerenderer %}
{% load i18n %}

{% block title %} {% trans page_title %} {% endblock title %}
{% block indexclass %} class="here" {% endblock indexclass %}

{% block head %}

    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}gemecdwebsite/gemecd.css" media="screen" />

{% endblock head %}

{% block main %}

{% block leftpanel %}
        <div id="ecd-leftpanelwide">
            <div id="panelcontainerwide">
                <h1>{{ page_title }}</h1>

                {% if editmode %}
                    <form enctype="multipart/form-data" method="post" class="uploadform">{% csrf_token %}

                     <table>
                        {% if form.errors %}
                             <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                        {%  endif %}

                        {{ uploadform.as_table }}
                     </table>


                     <input type="submit" value="Upload" class="gobutton"/>
                     </form>
                {% endif %}

                {% if not editmode%}
                    <div class="uploadstatus">{{ status_message }}</div>
                {% endif %}

            </div>
        </div>

{% endblock leftpanel %}

{% endblock main %}
