<!-- gridlist tag start -->
<div class="gridlist {{ pageclass }} {{ tagclass }}" >
    <div class="container"><ul>
    {% for record in render_structure %}
    {% for key,value in record.items  %}
    <li class="cell"><a href="{{ target_url }}{{ key }}{{ linksuffix }}">
    {% for html_definition in value %}
        <div class="field">
            <{{ html_definition.tag }}{% for key,value in html_definition.attributes.items %} {{ key }}="{{ value }}"{% endfor %}>{{ html_definition.value }}</{{ html_definition.tag }}>
        </div>{% endfor %}
    </a></li>{% endfor %}{% endfor %}
    </ul></div>
</div>
<!-- gridlist tag end -->