<!-- tableview tag start -->
<table class="tableview {{ pageclass }} {{ tagclass }}">
    <tr>
    {% for heading in columnheadings_list  %}   <th>{{ heading }}</th>
    {% endfor %}</tr>
    {% for record in render_structure %}
    {% for key,value in record.items  %}
    <a href="{{ target_url }}{{ key }}{{ linksuffix }}">
    <tr>{% for html_definition in value %}
        <td>
            <{{ html_definition.tag }}{% for key,value in html_definition.attributes.items %} {{ key }}="{{ value }}"{% endfor %}>{{ html_definition.value }}</{{ html_definition.tag }}>
        </td>{% endfor %}
    </tr></a>{% endfor %}{% endfor %}
</table>
<!-- tableview tag end -->