select#layer-list {
  width: 95%;
}

select#loss-list {
  width: 95%;
}

select#curve-list {
  width: 95%;
}

select#uhs-list {
  width: 95%;
}

select#spectrum-list {
  width: 95%;
}

select#input-list {
  width: 95%;
}

#curve-list {
  width:350px;
}

#uhs-list {
  width:350px;
}

.transparency-label {
	float: left;
}

.legend-title {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 90%;
}
.legend-title-part {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 70%;
}
.legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}
.legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 3px;
}
ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 8px;
  margin-left: 0;
  border: 1px solid #999;
}
ul.legend-labels li img {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 8px;
  margin-left: 0;
  border: 1px solid #999;
}
.legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}
a {
  color: #777;
  text-decoration:none;
}
.raster .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
}
.raster .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.raster .legend-scale ul li {
  display: block;
  float: left;
  width: 23px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}
.raster ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 23px;
}
.raster .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}
.raster a {
  color: #777;
}

#cover {
  text-align: center;
  background: no-repeat scroll center center #FFF;
  position: absolute;
  height: 100%;
  width: 100%;
}

.leaflet-control-layers {
  width: 450px !important;
}

.leaflet-control {
  clear: none;
  overflow: hidden;
}

.leaflet-control-layers .leaflet-row .leaflet-input {
  width: 20px !important;
}

.leaflet-control-layers .leaflet-row .leaflet-up {
  margin-left: 25%;
}

.leaflet-control-layers-expanded {
  max-height: 1% !important;
}

.leaflet-control-layers label {
  margin-top: 3px;
}

.leaflet-control-layers .leaflet-row .leaflet-down {
  float: right;

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.spectrum-line {
  fill: none;
  stroke-width: 4px;
  opacity: 0.7;
}


