{% extends "base.html" %}

{% block title %}
{% endblock title %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}css/oqplatform.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <script type="text/javascript">
        var TS_URL = '{{ tilestream_url }}';
    </script>
{% endblock extra_head %}

{% block header %}
    <div id="oq-page-header">
    {{block.super}}
    </div>
{% endblock header %}

{% block extra-nav %}
{% include "extra-nav.html" %}
{% endblock extra-nav %}

{% block middle %}
    <div id="oq-page-middle">
    {{block.super}}
    </div>
{% endblock middle %}

{% block body_outer %}
    <div id="oq-body-wrapper">
     {% block body %}
        <div class="span12">
            <div class="hero-unit">
                <div id="oq-body-heading">
                    {% block oq_body_heading %}
                        <!-- If you want a page title/heading, put that here -->
                    {% endblock oq_body_heading %}
                </div>
                <div id="oq-data-body-content">
                    {% block oq_body_content %}
                    {% endblock oq_body_content %}
                </div>
            </div>
        </div>
      {% endblock body %}
    </div>
{% endblock body_outer %}

{% block footer %}
    <div id="oq-page-footer">
    {{block.super}}
    </div>
{% endblock footer %}

{% block extra_script %}
    <!--  Override this in child templates to include additional javascript code -->
{% endblock extra_script %}
