/* GEM ECD Style file */

html
{
    background-color:#fff;
}

body
{
    margin-left: auto!important;
    margin-right: auto!important;
    width: 960px!important;

}

#header
{
    min-width: 960px!important;
    width: 960px!important;
}

/*
#header
{
    height:210px!important;
    background-image:none!important;
    background-color:#fff!important;
    min-width: 960px!important;
    width: 960px!important;
}

#header .wrap
{
    height: 202px;
    background-image: url('img/header-gemecd.png');
    background-repeat: no-repeat;
}

#main .wrap
{
    background-color:#fff;
}

#logo
{
    background-image: none!important;
}

#login-area
{
    background-image: none!important;
}

#login-area-content
{
    margin-top:45px!important;
    margin-right:37px!important;
    color:white!important;
}

#login-area-content a
{
    color:white;
}


*/

#footer .onecol
{
    padding-left:0;
    padding-right:0;
    margin-right:0;
    margin-left:0;
    width:960px;
}



div#ie8message, div#errormessage
{
    font-size:14px;
    margin-bottom:1em;
}

/* filter bar with dropdown and iconic buttons */
div#ecd-filterbar
{
    height:30px;
    width:100%;
    background-color:#ccc;
    margin-bottom:10px;
    font-size:11px;
    color:#555;
}

div#ecd-filterbar div#filterbarleft
{
    float:left;
}

div#ecd-filterbar div#filterbarright
{
    float:right;
}

div#ecd-filterbar input
{
    color:#555;
}

div#ecd-filterbar option
{
    color:#555;
}

div#ecd-filterbar p
{
    display:block;
    float:left;
    margin:0;
    padding:2px 0 0 0;
}

div#ecd-filterbar div.filterlabel
{
    float:left;
    height:30px;
    color:#666;
    font-size:12px;
    overflow:hidden;
    margin:0 9px 0 9px;
    padding-top:5px;
}

div#ecd-filterbar div.filterlabel a
{
    font-size:12px;
    color:#666;
}

div#ecd-filterbar select.eventdropdown
{
    margin:6px 0 0 0;
    width:120px;
    font-size:10px;
}

div#ecd-filterbar input.iconbutton
{
    height:24px;
    width:24px;
    padding:0;
    margin:3px 0 0 0;
    float:left;
    display:block;

}

.ui-buildings-unchecked {
    background-image: url(/static/buildings-off.png)!important;
}
.ui-buildings-checked {
    background-image: url(/static/buildings-on.png)!important;
}

div#ecd-filterbar input.highlight
{
    color:#f00;
    font-weight:bold;
    background-image:none;
    background-color:#ff0;
}


/* end of filter bar with dropdown and iconic buttons */

/* Advanced filter settings panel in the map */
#advancedfilterpanel
{
    width:500px;
    height:300px;
    background-color:white;
    border: solid 1px black;
    padding:18px;
    position:absolute;
    margin-left:200px;
    margin-top:100px;
    z-index:992;
    font-size:18px;
    display:none;
}

#advancedfilterpanel #closebutton
{
    float:right;
    width:20px!important;
}

#advancedfilterpanel #closebutton span.ui-button-text
{
    padding:0!important;
}




/* end of Advanced filter settings panel in the map */


/* map popup when marker clicked*/
div#locationpopupcontainer
{

}

div#locationpopupcontainer span#locationame
{
    font-size:14px;
    font-weight:bold;
}

div#eventpopupcontainer span#eventdate
{
    font-weight:bold;
    font-size:14px;
    display:block;
}

div#eventpopupcontainer span#eventname
{
    font-size:14px;
    display:block;
}

div#eventpopupcontainer span#eventcountry
{
    font-weight:bold;
    font-size:14px;
    display:block;
}

div#eventpopupcontainer a,div#locationpopupcontainer a
{
    font-size:12px;
    display:block;
    text-decoration:none;
    margin-top:3px;
}

div#eventpopupcontainer a:hover,div#locationpopupcontainer a:hover
{
    text-decoration:underline;
}

/* end of map popup */