    <div class="alert alert-info" role="alert">1. Copy and paste values from a spreadsheet into the table below.</div>
    <div id="table"></div>
    <button id="new_row_add" class="btn">New Row</button><br>
    <br>
    <div>
    <button id="convertBtn" type="button" style="display:none;" class="btn btn-primary">Convert to NRML</button>
      </div>
    <br>
    <div id="outputDiv">
      <div id="infoMsg" class="alert alert-info" role="alert">3. Download the NRML file for use in the OpenQuake Engine.</div>
      <div id="validationErrorMsg" class="alert alert-warning" role="alert" style="display: none;">Error message</div>
      <div id="downloadLink" style="display: none;"><button class="btn" id="downloadBtn">Download</button><form id="downloadForm" method="post"></form></div>
      <div id="outputText" style="width:600px; margin: auto;"></div>
    </div>
