@charset "utf-8";
/* CSS Document */

body { 
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;	
}

#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #000;
}

#header {
	min-width: 1024px;
	width: 100%;
	height: 65px;
	background-image: url(img/OQ_header_elements-06.png);
	background-position: right;
	background-repeat: repeat;
	background-color: #000;
	position: relative;
}

#opengem_logo {
	width: 355px;
	height: 46px;
	padding-left: 0px;
	position: relative;
	padding-top: 10px;
}



/* topmenu */

#topmenu_tabs {
	width: 800px;
	height: 31px;
	position: relative;
	margin-top: -50px;
	margin-bottom: 10px;
	margin-left: 380px;
}


/* Setup */
ul.topmenu {
	list-style: none;
	padding: 0px;
	}

.displace {
	position: absolute;
	left: -5000px;
	}

ul.topmenu li {
	float: left;
	padding-left: 20px;
	}

ul.topmenu li a {
	display: block;
	width: 122px;
	height: 31px;
/*	background: url(img/topmenu_bg.png);*/
	}

/*
*	Normal Links
*/
ul.topmenu li.explore a {
	background-position: 0 0;
	}

ul.topmenu li.model a {
	background-position: -122px 0;
	}

ul.topmenu li.calculate a {
	background-position: -244px 0;
	}

ul.topmenu li.capture a {
	background-position: -366px 0;
	}
	
ul.topmenu li.decide a {
	background-position: -488px 0;
	}

/*
*	Hover Links
*/
ul.topmenu li.explore a:hover {
	background-position: 0 -31px;
	}

ul.topmenu li.model a:hover {
	background-position: -122px -31px;
	}

ul.topmenu li.calculate a:hover {
	background-position: -244px -31px;
	}

ul.topmenu li.capture a:hover {
	background-position: -366px -31px;
	}

ul.topmenu li.decide a:hover {
	background-position: -488px -31px;
	}


/*
*	Clicked Links
*/
ul.topmenu li.explore a:active {
	background-position: 0 -62px;
	}

ul.topmenu li.model a:active {
	background-position: -122px -62px;
	}

ul.topmenu li.calculate a:active {
	background-position: -244px -62px;
	}

ul.topmenu li.capture a:active {
	background-position: -366px -62px;
	}

ul.topmenu li.decide a:active {
	background-position: -488px -62px;
	}

/*
*	Selected/Active Links
*/
ul.topmenu li.explore a.selected {
	background-position: 0 -93px;
	}

ul.topmenu li.model a.selected {
	background-position: -122px -93px;
	}

ul.topmenu li.calculate a.selected {
	background-position: -244px -93px;
	}

ul.topmenu li.capture a.selected {
	background-position: -366px -93px;
	}

ul.topmenu li.decide a.selected {
	background-position: -488px -93px;
	}

/* submenu */


#submenu {
	width: 140%;
	height: 26px;
/*	background: url(img/submenu_bg.png);*/
	background-repeat: repeat-x;
	float: left;
	clear: left;
	margin: 0px;
	list-style:none;
}

#submenu li{
	float:left;
	margin-right:20px;
	position:relative;
}

#submenu a{
	display:block;
	padding:4px;
	color:#fff;
	text-decoration:none;
}

#submenu a:hover{
	color:#fff;
	text-decoration:underline;
}

#submenu h3 {
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	margin-top: 5px;
}

/*--- DROPDOWN ---*/
#submenu ul{
	background: #fff; 
	/* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); 
	/* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
        z-index: 80000;
}

#submenu ul li{
	padding-top:0px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	min-width: 150px;
}

#submenu ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}

#submenu li:hover ul li ul{ /* Display the dropdown on hover */
	left: -9999px; /* Bring back on-screen when needed */
}

#submenu li:hover ul{ /* Display the dropdown on hover */
	left: 1px; /* Bring back on-screen when needed */
}

#submenu li ul li:hover ul{ /* Display the dropdown on hover */
	left: 1px; /* Bring back on-screen when needed */
}

#submenu li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background: #1b75a7;
	background-repeat: repeat-y;
	text-decoration: none;
}

#submenu li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}

#submenu li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background: #333;
}

#submenu ul li .notyet {
	background-color: #998;	
	background-image: none;
}

#submenu ul li ul li .notyet {
	background-color: #997;	
	background-image: none;
}

#submenu ul li a .notyet {
	background-color: #996;	
	background-image: none;
}

#submenu ul li ul li a .notyet {
	background-color: #995;	
	background-image: none;
}


/* second level */
#submenu ul li ul li {
	z-index: 80100;
}


/* geonode */

#ifrm {
	width: 100%;
}
