<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<title>checker</title>
<link href='{{ STATIC_URL }}taxtweb/font/lato_font.css' rel='stylesheet' type='text/css' />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/simdom.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/taxtweb_maps.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/taxtweb.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/taxonomy_map.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/taxonomy.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/simdom_post.js"></script>

<script type="text/javascript"><!--

var taxt_prefix = '{{ taxt_prefix }}';
var gem$ = {{ jquery }};

function run_check()
{
    taxonomy = $('#id_taxonomy').val();

    if (taxonomy != '') {
        ret = taxonomy_short2full(taxonomy);
    }
    if (ret.err_s) {
        alert(ret.err_s);
        taxonomy = '';
    }
    else {
        taxonomy = ret.result;
    }

    if (taxonomy != '') {
        var ret_s = { s: "" };
        if (populate(taxonomy, ret_s) == false) {
            alert("Load of taxonomy failed\n" + ret_s.s);
        }
        else {
            console.log("taxonomy: " + simDOM.resultE);
            $('#resultE').val(simDOM.resultE);
        }
    }
    return false;
}

window.onload = function () {
    var ret;
    /*
    var    demo = "DX+PF/MR+CBH+RCM+SPBA/LH+DNO/DY+OF/S+SR+RIV/LWAL+DUC/HBET:1,2+HBEX:3+HFBET:4,5+HD:6/YBET:1980,1985/MIX+MIX6/BP2/PLFPO/IRIR+IRPP:REC+IRPS:TOR+IRVP:SOS+IRVS:CHV/EWCB/RSH2+RMT1+RE+RE1+RWCP/FW+FW3+FWCN/FOSDN";
    */
    var taxonomy = '{{ taxonomy }}';

    taxt_Initiate();

    if (taxonomy != '') {
        ret = taxonomy_short2full(taxonomy);
    }
    if (ret.err_s) {
        alert(ret.err_s);
        taxonomy = '';
    }
    else {
        taxonomy = ret.result;
    }

    console.log("taxonomy: " + taxonomy);

    if (taxonomy != '') {
        var ret_s = { s: "" };
        if (populate(taxonomy, ret_s) == false) {
            alert("Load of taxonomy failed\n" + ret_s.s);
        }
    }
    $('#resultE').val(simDOM.resultE);
    $('#id_taxonomy').on('change', run_check);
}

//-->
</script>
</head>

<body>
  <div class="grand_parent" style="width: 1024px;">
    <form onSubmit="return false;">
      <input style="width: 1000px;" class="id_taxonomy" id="id_taxonomy" type="text" size="80" maxlength="200" value="{{ taxonomy }}"></input><br>
      <input style="width: 1000px;" id="resultE" type="text" size="80" readonly="true" maxlength="200"></input><br>
      <input type="submit" value="Check" onclick="run_check(this)"></input>
    </form>
  </div>
</body>
</html>
