<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<title>taxtweb - GEM building taxonomy editor</title>
<link href='{{ STATIC_URL }}taxtweb/font/lato_font.css' rel='stylesheet' type='text/css' />

{% include "taxtweb/incl_taxtweb_inlinecss.html" %}

{% include "taxtweb/incl_taxtweb_alljs.html" %}
</head>

<body>
{% include "taxtweb/incl_taxtweb_content.html" %}
<hr>
<div><p>This tool is part of the <a href="{{ SITEURL }}">OpenQuake Platform</a></p></div>
</body>
</html>
