<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<title>TaxT</title>
      <link href='{{ STATIC_URL }}taxtweb/font/lato_font.css' rel='stylesheet' type='text/css' />
<style>

.gem_field_alert {
    border-color: #ff0000;
    background-color: #ffa0a0;
}

body {
    font-family: 'Lato',sans-serif;
    font-size: 13px;
    color: #555555;
    line-height: 18px;
    margin: 0px;
}

div.grand_parent
{
    margin: auto;
    width: 800px;
    border: 1px solid #1B75A7;
}

h4 {
    margin: 4px 8px 4px 8px;
    color: #1B75A7;
    font-weight: bold;
}

div.data-group {
    border:1px solid gray;
    margin: 8px;
}

table.doubletable {
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

table.doubletable tr td {
    padding: 0px; margin: 0px;
}

table.doubletable tr td div table {
    border-collapse: collapse;
    padding: 0px;
    margin: 4px;
}

table.doubletable tr td div table tr td {
    padding: 0px; margin: 0px;
}

ul.tab
{
    margin:0;
    height: 30px;
    padding-left: 20px;
    list-style-type:none;
    background-image: url('{{ STATIC_URL }}taxtweb/img/OQ_header_bg.png');
    background-position: left bottom;
    border-bottom: 1px solid #1b75a7;
}

li.tab {
    margin: 0px;
    display: inline-block;
    height: 29px;
    cursor: pointer;
    color: #1B75A7;
}

li.tab_selected {
    margin: 0px;
    display: inline-block;
    height: 29px;
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #1b75a7;
    border-bottom: 1px solid #f8f8f8;
}

ul.tab li span {
    white-space:nowrap;
    border: 0px solid green;
    height: 29px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 8px 0px 8px;
}


/* SUBTAB */

ul.subtab
{
    margin:0;
    height: 30px;
    list-style-type:none;
    /* background-image: url('{{ STATIC_URL }}taxtweb/img/OQ_header_bg.png'); */
    background-color: #f8f8f8;
    background-position: left bottom;
    border-bottom: 1px solid #1b75a7;
}

li.subtab {
    margin: 0px;
    display: inline-block;
    height: 29px;
    cursor: pointer;
    color: #1B75A7;
}

li.subtab_selected {
    margin: 0px;
    display: inline-block;
    height: 29px;
    color: black;
    background-color: #f0f0f0;
    border: 1px solid #1b75a7;
    border-bottom: 1px solid #f0f0f0;
}

ul.subtab li span {
    white-space:nowrap;
    border: 0px solid green;
    height: 29px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 8px 0px 8px;
}

div.main_content {
    padding-bottom: 8px;
    border-bottom: 1px solid #1b75a7;
}

div.main_content div {
    padding-bottom: 8px;
}

a.tab:hover {
    text-decoration:underline;
}

table.dir_spec {
    margin: auto;
    width: 90%;
}

table.dir_spec td {
    text-align: center;
    width: 50%;
}
</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/taxtweb_maps.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/taxtweb.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/taxonomy_map.js"></script>
<script src="{{ STATIC_URL }}taxtweb/js/taxonomy.js"></script>
<script type="text/javascript"><!--
var taxt_prefix = '{{ taxt_prefix }}';
var gem$ = {{ jquery }};
window.onload = function () {
    var ret = null;
    var tab_cur = {{ tab_id }};
    var subtab_cur = {{ subtab_id }};
    tab_set(tab_cur, subtab_cur);
    /*
    var    demo = "DX+PF/MR+CBH+RCM+SPBA/LH+DNO/DY+OF/S+SR+RIV/LWAL+DUC/HBET:1,2+HBEX:3+HFBET:4,5+HD:6/YBET:1980,1985/MIX+MIX6/BP2/PLFPO/IRIR+IRPP:REC+IRPS:TOR+IRVP:SOS+IRVS:CHV/EWCB/RSH2+RMT1+RE+RE1+RWCP/FW+FW3+FWCN/FOSDN";
    */
    var taxonomy = '{{ taxonomy }}';

    if (taxonomy != '') {
        ret = taxonomy_short2full(taxonomy);

        if (ret && ret.err_s) {
            alert(ret.err_s);
            taxonomy = '';
        }
        else {
            taxonomy = ret.result;
        }
    }

    var ret_s = { s: "" };

    if (taxonomy != '') {
        if (populate(taxonomy, ret_s) == false) {
            alert("Load of taxonomy failed\n" + ret_s.s);
        }
    }
}
//-->
</script>
</head>

<body>
<div class="grand_parent">
    <ul class="tab">
        {{ tab_content|safe }}{% if is_popup %}<li id="id_populate_form" style="float: right; background-color: white; color: red; font-weight: bold;" class="tab" onclick="populate_form();"><span>Populate Form</span></li>{% endif %}
    </ul>
    <div id="main_content_parent" style="border-top-width: 0; border-color: #F8F8F8 #1B75A7 #1B75A7; position: relative; width: 800px; height: 600px; /* background-color: #ccccff; blue */">
        <div id="main_content-1" class="main_content" style="position: absolute; display: none; top: 0px; width: 800px; margin: 0px;/* background-color: #ffcccc; /*red */">
            <ul class="subtab">
                {{ sub1tab_content|safe }}
                <li class="subtab"><span><input type="checkbox" id="DirectionCB">Use same parameters in both directions</span></li>
            </ul>

            <div id="sub1_content-1" style="position: absolute; display: none; width: 798px; background-color: #f0f0f0; border: 1px solid; border-color: #f0f0f0 #f0f0f0 #1b75a7 #f0f0f0;">
                <div class="data-group">
                    <h4>Direction specification:</h4>
                    <table class="dir_spec"><tr>
                        <td><input type="radio" id="Direction1RB1" name="sub1_xdir" checked value="false" onclick="taxt_Direction1RB1Click(this);">Unspecified direction</td>
                        <td><input type="radio" id="Direction1RB2" name="sub1_xdir" value="true"          onclick="taxt_Direction1RB2Click(this);">Parallel to street</td>
                    </tr></table>
                </div>

                <div class="data-group">
                    <h4>Material of lateral load-resisting system</h4>
                    <table class="dir_spec"><tr>
                        <td><div>Material type:<br>
                                 <select id="MaterialCB11"></select></div></td>
                        <td><div>Material technology:<br>
                                 <select id="MaterialCB21"></select></div></td>
                      </tr><tr>
                        <td><div>Material Properties:<br>
                                 <select id="MaterialCB31"></select></div></td>
                        <td><div>Material technology (additional):<br>
                                 <select  id="MaterialCB41"></select></div></td>
                    </tr></table>
                </div>

                <div class="data-group">
                    <h4>Lateral load-resisting system</h4>
                    <table class="dir_spec"><tr>
                        <td><div>Type lateral load-resisting system:<br><select id="SystemCB11"></select></div></td>
                        <td><div>System ductility:<br><select id="SystemCB21"></select></div></td>
                    </tr></table>
                </div>

            </div>
            <div id="sub1_content-2" style="position: absolute; display: none; width: 798px; background-color: #f0f0f0; border: 1px solid; border-color: #f0f0f0 #f0f0f0 #1b75a7 #f0f0f0;">


                <div class="data-group">
                    <h4>Direction specification:</h4>
                    <table class="dir_spec"><tr>
                        <td><input type="radio" id="Direction2RB1" name="sub1_ydir" checked value="unspec" onclick="taxt_Direction2RB1Click(this);">Unspecified direction</td>
                        <td><input type="radio" id="Direction2RB3" name="sub1_ydir" value="spec"           onclick="taxt_Direction2RB3Click(this);">Perpendicular to street</td>
                    </tr></table>
                </div>

                <div class="data-group">
                    <h4>Material of lateral load-resisting system</h4>
                    <table class="dir_spec"><tr>
                        <td><div>Material type:<br>
                                 <select id="MaterialCB12"></select></div></td>
                        <td><div>Material technology:<br>
                                 <select id="MaterialCB22"></select></div></td>
                      </tr><tr>
                        <td><div>Material Properties:<br>
                                 <select id="MaterialCB32"></select></div></td>
                        <td><div>Material technology (additional):<br>
                                 <select  id="MaterialCB42"></select></div></td>
                    </tr></table>
                </div>

                <div class="data-group">
                    <h4>Lateral load-resisting system</h4>
                    <table class="dir_spec"><tr>
                        <td><div>Type lateral load-resisting system:<br><select id="SystemCB12"></select></div></td>
                        <td><div>System ductility:<br><select id="SystemCB22"></select></div></td>
                    </tr></table>
                </div>

            </div>
        </div>

        <div id="main_content-2" class="main_content" style="position: absolute; display: none; top: 0px; width: 800px; background-color: #f8f8f8; /* green */">
            <div class="data-group">
                <h4>Height:</h4>
                <table style="width: 95%;"><tr>
                    <td style="width: 50%;"><div>Number of storey above ground:</div></td>
                    <td style="width: 50%;"><div>Number of storey below ground:</div></td>
                </tr><tr>
                    <td><select id="HeightCB1"></select></td>
                    <td><select id="HeightCB2"></select></td>
                </tr><tr>
                    <td><div style="white-space:nowrap;"><input style="width: 90%;" type="text" id="noStoreysE11"><input style="display:none; width: 45%;" type="text" id="noStoreysE12"></div></td>
                    <td><div style="white-space:nowrap;"><input style="width: 90%;" type="text" id="noStoreysE21"><input style="display:none; width: 45%;" type="text" id="noStoreysE22"></div></td>
                </tr><tr>
                    <td><div>Height of ground floor level above grade (m):</div></td>
                    <td><div>Slope of the ground (degrees):</div></td>
                </tr><tr>
                    <td><select id="HeightCB3"></select></td>
                    <td><select id="HeightCB4"></select></td>
                </tr><tr>
                    <td><div style="white-space:nowrap;"><input style="width: 90%;" type="text" id="noStoreysE31"><input style="display:none; width: 45%;" type="text" id="noStoreysE32"></div></td>

                    <td><div style="white-space:nowrap;"><input style="width: 90%;" type="text" id="noStoreysE41"></div></td>
               </tr></table>
            </div>
            <div class="data-group">
                <h4>Date:</h4>
                <table style="width: 95%;"><tr>
                    <td colspan=2><div>Date of construction or retrofit (yyyy):</div></td>
                </tr><tr>
                    <td style="width: 50%;"><select id="DateCB1"></select></td>
                    <td style="width: 50%;"><div style="white-space:nowrap;"><input style="width: 90%; margin: auto;" type="text" id="DateE1"> <input style="display:none; width: 45%; margin: auto;" type="text" id="DateE2"></div></td>
                </tr></table>
            </div>
            <div class="data-group">
                <h4>Occupancy:</h4>

                <table class="dir_spec"><tr>
                    <td><div>Building occupancy type - general:</div></td>
                    <td><div>Building occupancy type - detail:</div></td>
                </tr><tr>
                    <td><select id="OccupancyCB1"></select></td>
                    <td><select id="OccupancyCB2"></select></td>
               </tr></table>

            </div>
        </div>
        <div id="main_content-3" class="main_content" style="position: absolute; display: none; top: 0px; width: 800px; background-color: #f8f8f8; /* orange */">
            <table class="doubletable">
            <tr><td style="width: 50%;">
                <div class="data-group">
                    <h4>Building position within a block:</h4>
                    <table><tr>
                        <td><div>Position:</div></td>
                        <td></td>
                    </tr><tr>
                        <td><select id="PositionCB"></select></td>
                        <td></td>
                   </tr><tr></table>
                </div>
            </td><td style="width: 50%;">
                <div class="data-group">
                    <h4>Shape of the building plan:</h4>
                    <table><tr>
                        <td><div>Plan shape:</div></td>
                        <td></td>
                    </tr><tr>
                        <td><select id="PlanShapeCB"></select></td>
                        <td></td>
                    </tr><tr></table>
                </div>
            </td></tr></table>
            <div class="data-group">
                <h4>Structural irregularity:</h4>

                <table style="width: 95%;"><tr>
                    <td style="width: 50%;"><div>Type of irregularity:</div></td>
                    <td style="width: 50%;"></td>
                </tr><tr>
                    <td><select id="RegularityCB1"></select></td>
                    <td></td>
               </tr><tr>
                    <td><div>Plan structural irregularity - primary:</div></td>
                    <td><div>Plan structural irregularity - secondary:</div></td>
                </tr><tr>
                    <td><select id="RegularityCB2"></select></td>
                    <td><select id="RegularityCB4"></select></td>
               </tr><tr>
                    <td><div>Vertical structural irregularity - primary:</div></td>
                    <td><div>Vertical structural irregularity - secondary:</div></td>
                </tr><tr>
                    <td><select id="RegularityCB3"></select></td>
                    <td><select id="RegularityCB5"></select></td>
               </tr></table>

            </div>

            <div class="data-group">
                <h4>Exterior walls:</h4>
                <table style="width: 95%;"><tr>
                    <td style="width: 50%;"><div>Material of exterior walls:</div></td>
                    <td style="width: 50%;"></td>
                </tr><tr>
                    <td><select id="WallsCB"></select></td>
                    <td></td>
               </tr></table>
            </div>
        </div>
        <div id="main_content-4" class="main_content" style="position: absolute; display: none; top: 0px; width: 800px; background-color: #f8f8f8; /*violet*/">
            <div class="data-group">
                <h4>Roof:</h4>

                <table style="width: 95%;"><tr>
                    <td style="width: 33%;"><div>Roof shape:</div></td>
                    <td style="width: 33%;"><div>Roof covering:</div></td>
                    <td style="width: 33%;"><div>Roof system material:</div></td>
                </tr><tr>
                    <td><select id="RoofCB1"></select></td>
                    <td><select id="RoofCB2"></select></td>
                    <td><select id="RoofCB3"></select></td>
               </tr></table>

                <table style="width: 95%;"><tr>
                    <td style="width: 33%;"><div>Roof connections:</div></td>
                    <td style="width: 33%;"><div>Roof system type:</div></td>
                </tr><tr>
                    <td><select id="RoofCB5"></select></td>
                    <td><select id="RoofCB4"></select></td>
               </tr></table>

            </div>


            <div class="data-group">
                <h4>Floor:</h4>

                <table style="width: 95%;"><tr>
                    <td style="width: 50%;"><div>Floor system material:</div></td>
                    <td style="width: 50%;"></td>
                </tr><tr>
                    <td><select id="FloorCB1"></select></td>
                    <td></td>
               </tr><tr>
                    <td><div>Floor connections:</div></td>
                    <td><div>Floor system type:</div></td>
                </tr><tr>
                    <td><select id="FloorCB2"></select></td>
                    <td><select id="FloorCB3"></select></td>
               </tr></table>

            </div>

            <div class="data-group">
                <h4>Foundation:</h4>

                <table style="width: 95%;"><tr>
                    <td style="width: 50%;"><div>Floor system material:</div></td>
                    <td style="width: 50%;"></td>
                </tr><tr>
                    <td><select id="FoundationsCB"></select></td>
                    <td></td>
               </tr></table>

            </div>

        </div>
        <div style="position: absolute; bottom: 0px; margin: 8px;" >
            <p>Taxonomy string for this building typology: </p>
            <p><input id="resultE" type="text" size="80" readonly="true" maxlength="120"></input></p>
            <p>Type of taxonomy: <select id="OutTypeCB"></select>
            &nbsp;&nbsp;&nbsp;&nbsp;<a id="permalink" target="_blank" href="">Permalink</a></p>
        </div>
    </div>
</div>

<hr>
<div><p>This tool is part of the <a href="{{ SITEURL }}">OpenQuake Platform</a></p></div>
</body>
</html>
