
#capAccordion {
  float:left;
 	display: block;
 	position: relative;
 	margin: 20px;
 	width: 400px;
}

#capacityChart {
 	float:left;
 	display: block;
 	position: relative;
 	padding-top: 30px;
}

#dialog-datagrid {
  display: block;
	padding: 30px;
	height: 250px; 
	width: 350px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.grid .tick {
    stroke: lightgray;
}
.grid path {
      stroke-width: 0;
}
