
svg {
  font-size: 14px;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.5px;
}

.foreground path.fade {
  stroke: #000;
  stroke-opacity: .05;
}

.legend {
  font-size: 9px;
  font-style: oblique;
}

.legend line {
  stroke-width: 2px;
}

.legend-hazus {
  font-size: 7px;
  font-weight: bold;
}

.slice path {
  stroke: #fff;
  stroke-width: 1px;
}

.textTop {
  font-family: 'Segoe UI';
  font-size: 12pt;
  fill: #bbb;
}

.textBottom {
  fill: #444;
  font-family: 'Segoe UI';
  font-weight: bold;
  font-size: 18pt;
}

.top {
  border: 1px solid #bbb;
  color: #777;
  font-family: 'Segoe UI';
  padding: 5px;
  text-decoration: none;
}

.top:hover {
  border: 1px solid #555;
  color: #333;
}

.setosa {
  stroke: #800;
}

.versicolor {
  stroke: #080;
}

.virginica {
  stroke: #008;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.line{
  fill:none;
  stroke:#000;
}

.grid .tick {
  stroke: lightgray;
}
.grid path {
  stroke-width: 0;
}