            body {background-color: #444;}
            #map{
                width: 100%;
                height: 100%;
            }
            #sidePanel-leg{
                width:245px;
                position:fixed;
                left:-202px;
                top:55%;
                z-index:991; 
            }
            #sidePanel-leg-hazard{
                width:245px;
                position:fixed;
                left:-202px;
                top:35%;
                z-index:991;
            }
            #panelHandle-leg{
                background-image: -webkit-linear-gradient(top,#333,#222);
                background-image: -moz-linear-gradient(center top , #333333, #222222);
                background-image: -o-linear-gradient(center top , #333333, #222222);
                background-image: -ms-linear-gradient(center top , #333333, #222222);
                background-image:linear-gradient(center top , #333333, #222222);
            
                height:95px;
                width:30px;
                border-radius:0 5px 5px 0;
                float:left;
                cursor:pointer;
                z-index:991;
            }
            #panelContent-leg{
                float:left;
                border:1px solid #333333;
                width:200px;
                height:400px;
                background-color:#EEEEEE;
                z-index:991;
                overflow:scroll;
                overflow-x:hidden;
            }
            
            #panelHandle-leg p {
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                left: -4px;
                margin: 0;
                padding: 0;
                position: relative;
                top: 26px;
                z-index:991;
            }
            #sidePanel-dwel{
                width:400px;
                position:fixed;
                left:-328px;
                top:30%;
                z-index:990;
            }
            #panelHandle-dwel{
                background-image: -webkit-linear-gradient(top,#333,#222);
                background-image: -moz-linear-gradient(center top , #333333, #222222);
                background-image: -o-linear-gradient(center top , #333333, #222222);
                background-image: -ms-linear-gradient(center top , #333333, #222222);
                background-image:linear-gradient(center top , #333333, #222222);
            
                height:150px;
                width:30px;
                border-radius:0 5px 5px 0;
                float:left;
                cursor:pointer;
                z-index:992;
            }
            #panelContent-dwel{
                float:left;
                border:1px solid #333333;
                width:326px;
                height:600px;
                background-color:#EEEEEE;
                z-index:992;
                overflow:scroll;
                overflow-x:hidden;
                padding-left: 27;
            }
            
            #panelHandle-dwel p {
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                left: -4px;
                margin: 0;
                padding: 0;
                position: relative;
                top: 26px;
                z-index:992;
            }
            table.scrollable th{
                position: relative;
                background:#f7f7f7;
            }
            table.scrollable{
                margin-right:5px;
                margin-left:5px;
            }
            .legend-title {
                text-align: center;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 90%;
            }
            .legend-title-part {
                text-align: center;
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 6px;
                font-size: 70%;
            }
            .legend-scale ul {
                margin: 0;
                margin-bottom: 5px;
                padding: 0;
                float: left;
                list-style: none;
            }
            .legend-scale ul li {
                font-size: 80%;
                list-style: none;
                margin-left: 10px;
                line-height: 18px;
                margin-bottom: 3px;
            }
            ul.legend-labels li span {
                display: block;
                float: left;
                height: 16px;
                width: 30px;
                margin-right: 8px;
                margin-left: 0;
                border: 1px solid #999;
            }
            ul.legend-labels li img {
                display: block;
                float: left;
                height: 16px;
                width: 30px;
                margin-right: 8px;
                margin-left: 0;
                border: 1px solid #999;
            }
            .legend-source {
                font-size: 70%;
                color: #999;
                clear: both;
            }
            a {
                color: #777;
                text-decoration:none;
            }
            .raster .legend-title {
                text-align: left;
                margin-bottom: 8px;
                font-weight: bold;
                font-size: 90%;
            }
            .raster .legend-scale ul {
                margin: 0;
                padding: 0;
                float: left;
                list-style: none;
            }
            .raster .legend-scale ul li {
                display: block;
                float: left;
                width: 23px;
                margin-bottom: 6px;
                text-align: center;
                font-size: 80%;
                list-style: none;
            }
            .raster ul.legend-labels li span {
                display: block;
                float: left;
                height: 15px;
                width: 23px;
            }
            .raster .legend-source {
                font-size: 70%;
                color: #999;
                clear: both;
            }
            .raster a {
                color: #777;
            } 
