
#perArea {
	margin-left: 30px
}

#retrofittingSelect {
	margin-left: 30px
}

label {
	width: 30%;
	text-align: right;
	padding-right: 2%;
	margin-left: 5px;
}

.ffsForm {
	float: left;
}

.handsontable {
	float: right;
}

.ffsTable {
	width: 50%;
	margin-left: 30px;
}

.ffsTableDiv {
	padding-right: 40px;
}

.theTable {
	float: right;
}

.ffsTableDiv {
    padding-bottom: 8%;
}

.ffsTitle {
    padding-left: 10%;
}

textarea {
    height: 30px;
}

.destroyTable {
	margin-left: 20px;
}

#tabs {border: none}
