.pointer {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

label {
	display:block;
    float:left;
    text-align:left;
}
input {
  width:240px;
  float:left;
}

svg {
  font: 10px sans-serif;
}

.tooltip {
  z-index: 99999;
}

#tool-tip {
  height: 1px;
  width: 300px;
}

.domain {
  stroke: gray;
  stroke-width: 2;
  stroke-opacity:0.4;
  fill-opacity:0;
}

.background path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-width: 4;
}

.PI-background path {
  fill: none;
  stroke: steelblue;
  stroke-width: 2;
  opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.PI-meanPath path {
  fill: none;
  stroke: grey;
  stroke-width: 15;
  opacity: 0.3;
  stroke-linecap: round;
}

.PI-outlierPath path {
  fill: none;
  stroke: #FF1D25;
  stroke-width: 3;
  opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.concatLine path {
  fill: red;
  stroke: red;
  stroke-width: 5;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.content-wrap {
  min-height:300px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.textTop {
  opacity: 0.9;
  font-family: sans-serif !important;
}

.text90 {
  opacity: 0.5;
  font-family: sans-serif !important;
}

.ticks {
  opacity: 0.9;
  font-family: sans-serif !important;
  font-weight: bold;
  fill: blue;
}

#licenseName {
  float: left;
  clear: none;
}

#licenseURL  {
  float: left;
  clear: none;
}

#cover {
  text-align: center;
  background: no-repeat scroll center center #FFF;
  position: absolute;
  height: 100%;
  width: 100%;
}

select#layer-list {
  width: 95%;
  height: 70%;

.ui-dialog {
  z-index: 1000;
}

