h1 {
  margin-top: 4%;
  text-transform: uppercase;
}
h3 {
   color: #1B75A7;
}

.welcome-container {
    display: table-cell;
    vertical-align: middle;
    float: left;
    width: 29%;
    padding: 2%;
}

#welcome-details {
    background-color: rgba(255, 255, 255, 1);
    display: table-cell;
    padding: 50px;
}

#welcome-details .info {
    text-align: center;
}

#welcome-details .info p {
    font-size: 1.3em;
}

#welcome-details .info {
    color: rgb(183, 183, 183);
    font-size: 80px;
}

#calculate {

}
#share {

}
#explore {
}
#help-body {
  width: 75%;
  margin: 0 auto;
}
