#oq-page-middle {
    background: #555555;
}

#oq-context-ribbon {
    height: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#oq-page-middle div.content-wrap div.container
{
    width: 100%;
}

#oq-body-wrapper div.span12 {
    width: 100%;
    margin-left: 0px;
}

.hero-unit {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

}

#oq-body-content {
    float: right;
    width: 79%;
    min-width: 648px;
}

#oq-data-body-content {
    float: right;
    width: 100%;
    min-width: 648px;
    height: 300px;
}

#oq-body-sidebar {
    /* Make this visible to add a layer nav tree to the left
       side of the map */
    float: left;
    min-width: 192px;
    width: 20%;
    border:2px solid #CCCCCC;
    overflow-y: scroll;
    overflow-x: scroll;
}

#oq-layer-tree {
    font-size: 14px;
    padding-left: 10px;
}

input.oq-layer-tree-node {
    margin-top: 0px;
    margin-right: 5px;
}

.oq-context-control {
    margin-left: 5px;
}

.leaflet-control-layers-expanded {
    max-height: 200px;
    overflow: scroll;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}
