

.menuItems{
	left: 0px;
    top: 0px;
    width: 420px;
    text-align: right;
    padding-left: 12%;
}

.menuItems label {
    float: left;
    margin: 1px;
}

label {
    font-weight: bold;
    float: left;
    margin: 4px 0 15px;
}

.ffsForm, .vfsForm{
    float: left;
    margin-top: 20px;
    width: 45%;
}

.ffsForm input {
	float: right;
}

.ffsTable {
	width: 50%;
	margin-left: 20px;
}

.vfsTable {
	width: 80%;
	margin-left: 3px;
}

.ffsTableDiv {
	padding-right: 40px;
	padding-bottom: 15%;
}

.vfsTableDiv {
	padding-right: 40px;
}

.theTable {
	float: right;
	margin-top: 10px;
}

#tableOverflow {
    overflow: auto;
    margin-top: 20px;
}

.ffsTitle, .vfsTitle {
    font-size: 18px;
}

textarea {
    height: 30px;
}

.destroyTable {
	margin-left: 20px;
	float: right;
    margin-top: 10px;
}

.destroyVTable {
	float: right;
    margin-top: 10px;
}

#tabs {
	border: none;
}

#textarea {
	width: 600px;
	height: 700px;
}

#occupantsCheckBoxes, #economicCheckBoxes {
	margin-left: 35%;
}

.ffsTableDiv, .vfsTableDiv {
    padding-right: 40px;
    padding-bottom: 15%;
    width: 90%;
    float: left;
    border: 1px solid #eee;
    margin-bottom: 1em;
    padding: 5%;
}

