.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

label {
	display:block;
    float:left;
    text-align:left;
}
input {
  width:240px;
  float:left;	
}


svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: steelblue;
  stock-width: 1;
}

.concatLine path {
  fill: red;
  stroke: red;
  stock-width: 5;
}

.foreground path {
  fill: red;
  fill-opacity: 0.3;
  stroke: steelblue;
  stroke-width: 4;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.content-wrap {
  min-height:600px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}