#mapLegend {
    padding-top: 20px;
}

#opacity-div {
	float: left;
}

#opacity-labels {
	float: left;
	margin-left: 10px;
	margin-top: 4px;
}

#intensity-div {
	float: left;
	padding-right: 30px;
}

#intensity-labels {
	float: left;
	margin-left: 40px;
	margin-top: 4px;
}

#heatmap-opacity-value, #heatmap-intensity-value {
	border:0;
	color:#f6931f;
	font-weight:bold;
	width:40px;
}

#heatmap-opacity {
	width: 300px;
	margin-left: 10px;
}

#heatmap-intensity {
	width: 300px;
	margin-left: 40px;
}
