{% if user.is_superuser %} 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v2.3.4</title>

  <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/jasmine_favicon.png">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jasmine.css">

  <script src="{{ STATIC_URL }}js/jasmine.js"></script>
  <script src="{{ STATIC_URL }}js/jasmine-html.js"></script>
  <script src="{{ STATIC_URL }}js/boot.js"></script>
  <script src="{{ STATIC_URL }}js/mock-ajax.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
  <script src="{{ STATIC_URL }}Leaflet/dist/leaflet.js"></script>
  <script src="{{ STATIC_URL }}L.Wax/L.Wax.js"></script>
  <script src="{{ STATIC_URL }}wax/dist/wax.leaf.min.js"></script>
  <script src="{{ STATIC_URL }}wax/ext/modestmaps.min.js"></script>
  <script src="{{ STATIC_URL }}wax/dist/wax.mm.js"></script>
  <script src="{{ STATIC_URL }}js/base_data_viewer_app.js"></script>
  <script src="{{ STATIC_URL }}js/leaflet.utfgrid.js"></script>
  <script src="{{ STATIC_URL }}js/leaflet.ajax.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
  <script src="{{ STATIC_URL }}js/d3.js"></script>
  <script src="{{ STATIC_URL }}js/bing.js"></script>
  <script src="{{ STATIC_URL }}js/angular.min.js"></script>
  <script src="{{ STATIC_URL }}js/ng-table.min.js"></script>
  <script src="{{ STATIC_URL }}lib/jquery-ui/js/jquery-ui-1.10.3.custom.js"></script>
  <script src="{{ STATIC_URL }}js/base_map_options.js"></script>
  <script src="{{ STATIC_URL }}js/xml2json.js"></script>
  <script src="{{ STATIC_URL }}js/leaflet-dvf.js"></script>
  <script src="{{ STATIC_URL }}js/mapbox-gl.min.0.11.1.js"></script>
  <script src="{{ STATIC_URL }}js/leaflet-mapbox-gl.js"></script>

  <!-- include source files here... -->

  <script src="{{ STATIC_URL }}irv/js/irv_viewer.js"></script>
  <script src="{{ STATIC_URL }}irv/js/irv_viewer_d3_tree.js"></script>
  <script src="{{ STATIC_URL }}irv/js/irv_viewer_PCP_primary.js"></script>
  <script src="{{ STATIC_URL }}irv/js/irv_viewer_PCP_theme.js"></script>
  <script src="{{ STATIC_URL }}irv/js/irv_viewer_PCP_IRI.js"></script>

  <!-- include spec files here... -->
  <script src="{{ STATIC_URL }}irv/spec/SpecIRV.js"></script>

</head>

<body>
</body>
</html>
{% endif %}
