#oq-body-content {
width: 100%;
 }

.menuItems{
	left: 0px;
    top: 0px;
    width: 420px;
    text-align: right;
    padding-left: 12%;
}

.menuItems label {
    float: left;
    margin: 1px;
}

.menuSubItems {
    margin-left: 24px;
}

label {
    font-weight: bold;
    float: left;
    margin: 4px 0 15px;
}

.ffsForm, .vfsForm{
    float: left;
    clear: left;
    margin-top: 10px;
    width: 45%;
}

.ffsForm label {
clear: left;
 }

.downloadbtn {
    color: white !important;
}

.ffsForm input {
	float: right;
}

.ffsTable {
	width: 50%;
	margin-left: 20px;
}

.vfsTable {
	width: 80%;
	margin-left: 3px;
}

.theTable {
	float: right;
	margin-top: 10px;
}

#tableOverflow {
	height: 100px;
    overflow: auto;
    margin-top: 20px;
}

.ffsTitle, .vfsTitle {
    font-size: 18px;
}

textarea {
    height: 30px;
}

.destroyTable {
	float: right;
}

.destroyVTable {
	float: right;
    margin-top: 10px;
}

#tabs {
	border: none;
}

#textarea {
	width: 600px;
	height: 700px;
}

#occupantsCheckBoxes, #economicCheckBoxes {
	margin-left: 35%;
}

.ffsTableDiv, .vfsTableDiv {
    width: 100%;
    float: left;
    border: 1px solid #eee;
    margin-bottom: 1em;
}

