{% extends "site_base.html" %}
{% load i18n %}

{% block title %} {% trans page_title %} {% endblock title %}
{% block indexclass %} class="here" {% endblock indexclass %}

{% block head %}

    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}gemecdwebsite/gemecd.css" media="screen" />

    <!-- IE 8 Compatibility -->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">-->

    <!-- Google resources -->
    <script src="//maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>

    <!-- leaflet resources -->
    <link rel="stylesheet" href="{{ STATIC_URL }}Leaflet/dist/leaflet.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}Leaflet/dist/leaflet.js"></script>

    <!-- wax resources -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wax-controls.css" media="screen" >
    <script type='text/javascript' src='{{ STATIC_URL }}L.Wax/L.Wax.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}wax/dist/wax.leaf.min.js"></script>
    <script type='text/javascript' src='{{ STATIC_URL }}wax/ext/modestmaps.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}wax/dist/wax.mm.js'></script>

    <!-- jquery and other stuff -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
    <!--<script type='text/javascript' src='{{ STATIC_URL }}jquery.min.js'></script>-->
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/exposure-legend.css" media="screen" /> -->

    <!-- jQuery UI needed for iconic buttons in the filter bar -->
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" media="screen" />
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

{% endblock head %}
{% block body_outer %}

    {% if form.errors %}
        <div class="formerrorheader">Error in form</div>
    {%  endif %}

    {%  if editmode %}
        <form method="post" class="pageedit">{% csrf_token %}
            <table>
                {{ mainpageform.as_table }}
            </table>
            <input type="submit" value="Save" class="gobutton"/>
        </form>
    {%  endif %}

    {% if not form.errors and not editmode%}



<!--
    <div id="sidePanel-leg-hazard">
        <div id="panelContent-leg">
            <div class="map-legend-urban">
                <p>
                <div class='legend-title'>Legend<br/></div>
                <div class='legend-title-part'>Japan Hazard Model<br/>
                </div>
                <div class='legend-scale'>
                    <ul class='legend-labels'>
                        <li><span style='background:#E3E86A;'></span>0 - 20</li>
                        <li><span style='background:#EADA65;'></span>20 - 30</li>
                        <li><span style='background:#FFDC00;'></span>30 - 40</li>
                        <li><span style='background:#EFD462;'></span>40 - 50</li>
                        <li><span style='background:#F5CB5F;'></span>50 - 60</li>
                        <li><span style='background:#FFB858;'></span>60 - 70</li>
                        <li><span style='background:#FFAC53;'></span>70 - 80</li>
                        <li><span style='background:#FF8644;'></span>80 - 90</li>
                        <li><span style='background:#FF3D2F;'></span>90 - 100</li>
                        <li><span style='background:#FF0000;'></span>100 - 110</li>
                        <li><span style='background:#E60000;'></span>110 - 150</li>
                        <li><span style='background:#CC0D56;'></span>150 - 180</li>
                        <li><span style='background:#B80C4D;'></span>over 180</li>
                    </ul>
                </div>
            </div>
            <div class='legend-source'> Source: <a href="#">Source: The Japan models have been produced from a GEM implementation of the latest Japan PSHA model</a>
            </div> </p>

        </div>
        <div id="panelHandle-leg">
            <p>Legend</p>
        </div>
    </div>
-->

    {% block filterbar %}

        <script type="text/javascript">
        jQuery(document).ready(function($){

            // code to impose custom icons over the top of the checkboxes in the filter bar
            var firsttime = true;

            // all icon
            $('#id_filterbarform-all').button({
                text: true
            }).change(function() {
                        if ($(this).is(':checked')){
                            $(".iconbutton").prop("checked", false);
                            $(this).prop("checked", true);

                            if (!firsttime) {$('#filterform').submit();};

                            $(this).button("option", {
                                icons: {primary: 'ui-icon-check' }
                            });
                        } else {

                            $(this).button("option", {
                                icons: {primary: 'ui-icon-closethick' }
                            });
                        }});


            // buildings icon
            $('#id_filterbarform-buildings').button({
                text: true
            }).change(function() {
                        if ($(this).is(':checked')){
                            $(".iconbutton").prop("checked", false);
                            $(this).prop("checked", true);

                            $(this).button("option", {
                                icons: {primary: 'ui-buildings-checked' }
                            });
                            if (!firsttime) {$('#filterform').submit();};
                        } else {
                            $(this).button("option", {
                                icons: {primary: 'ui-buildings-unchecked' }
                            });
                        }});

            // casualty icon
            $('#id_filterbarform-casualty').button({
                text: true
            }).change(function() {
                        if ($(this).is(':checked')){
                            $(".iconbutton").prop("checked", false);
                            $(this).prop("checked", true);

                            $(this).button("option", {
                                icons: {primary: 'ui-casualty-checked' }
                            });
                            if (!firsttime) {$('#filterform').submit();};
                        } else {
                            $(this).button("option", {
                                icons: {primary: 'ui-casualty-unchecked' }
                            });
                        }});

            // infrastructure icon
            $('#id_filterbarform-infrastructure').button({
                text: true
            }).change(function() {
                        if (!firsttime) {$("#id_filterbarform-submit").addClass('highlight');};
                        if ($(this).is(':checked')){
                            $(".iconbutton").prop("checked", false);
                            $(this).prop("checked", true);

                            $(this).button("option", {
                                icons: {primary: 'ui-cbi-checked' }
                            });
                            if (!firsttime) {$('#filterform').submit();};
                        } else {
                            $(this).button("option", {
                                icons: {primary: 'ui-cbi-unchecked' }
                            });
                        }});

            // socioeconomic icon
            //$('#id_filterbarform-socioeconomic').button({
            //    text: true
            //}).change(function() {
            //            if (!firsttime) {$("#id_filterbarform-submit").addClass('highlight');};
            //            if ($(this).is(':checked')){
            //                $(".iconbutton").prop("checked", false);
            //                $(this).prop("checked", true);
//
            //                $(this).button("option", {
            //                    icons: {primary: 'ui-icon-check' }
            //                });
//
            //                if (!firsttime) {$('#filterform').submit();};
            //            } else {
//
            //                $(this).button("option", {
            //                    icons: {primary: 'ui-icon-closethick' }
            //                });
            //            }});

            // get buttons to pick up their default values
            $("#id_filterbarform-buildings").change();
            $("#id_filterbarform-casualty").change();
            $("#id_filterbarform-infrastructure").change();
            //$("#id_filterbarform-photos").change();
            //$("#id_filterbarform-socioeconomic").change();
            $("#id_filterbarform-all").change();

            // apply button
            //$('#id_filterbarform-submit').button({
            //    text:true,
            //    icons:{primary: 'ui-icon-closethick' }
            //});

            // advanced button
            $('#advanced').click(function(event){
                $("#advancedfilterpanel").css("display", "block");
                event.preventDefault();
            });

            // close advanced filter panel button
            $('#closebutton').button({ text:false, icons: { primary: "ui-icon-closethick" } }).click(function(event){
                $("#advancedfilterpanel").css("display", "none");
                event.preventDefault();
            });

            firsttime = false;
        });


        </script>

        <div id="advancedfilterpanel">
            This is the advanced filter settings panel
            <a id="closebutton" href="javascript:alert('close');">close</a>
        </div>

        <div id="ecd-filterbar">
            <!--start filter bar-->
            <div id="filterbar">
                <div class="filterlabel">FILTER</div>
                <div id="filterbarleft">
                    <form id="filterform" method="post">{% csrf_token %}
                        {{ filterbarform.as_p }}
                        {% comment %}<p><input id="id_filterbarform-submit" type="submit" value="apply"  title="Apply filters"/></p>{% endcomment %}
                        <!-- <div class="filterlabel"><a title="Click for advanced filtering options" id="advanced" href="javascript:alert('display options panel');">advanced</a></div> -->
                    </form>
                </div>

{% block filterbarright %}
                <div id="filterbarright">
                </div>
{% endblock filterbarright %}
            </div>
            <!--end filter bar -->
        </div>

    {% endblock filterbar %}

    {% block leftpanel %}

    {% endblock leftpanel %}

    {% block rightpanel %}

    <div id="map" style="width: 80%;">
    </div>
    <span id="showGrid">
    </span>

    {% endblock rightpanel %}

    {% block map %}

    <!--[if lt IE 8]><div id="ie8message">You are using a version of Internet Explorer that cannot display this page - This page requires at least Internet Explorer 9 - or you can use Firefox, Chrome or Safari</div><![endif]-->

    <script type="text/javascript">

        // needed for AJAX requests so we can get the csrf cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        //resize the main and map div
        $(document).ready(function() {
            var main_height = $(window).height() - $("#header").height() - $("#footer").height();
            var map_height = $(window).height() - $("#header").height() - $("#footer").height() - $("#tooltip").height() - $("#ecd-filterbar").height() - 25;
            $('#map').css("height",map_height + "px");
            map.invalidateSize(false);
        });

        //$(document).ready(function() {
        //    $(window).resize(function(){
        //        var main_height = $(window).height() - $("#header-wrapper").height() - $("#footer").height();
        //        var map_height = $(window).height() - $("#header-wrapper").height() - $("#footer").height() - $("#tooltip").height()- $("#ecd-filterbar").height() - 25;
        //        $('#main').css("height",main_height + "px");
        //        $('#map').css("height",map_height + "px");
        //        map.invalidateSize(false);
        //    });
        //});

        jQuery(document).ready(function($){

            // first fit the bounds to the locations (must be done in the document ready function)
            //var bounds = L.geoJson(geojsonFeaturePoints).getBounds();
            //if (bounds && bounds.getNorthEast() && bounds.getSouthWest())
            //{
            //    map.fitBounds(bounds);
            //}

            // first fit the bounds to the union of all the layers that are visible (must be done in the document ready function)
            try
            {
                var bounds = boundsGroup.getBounds();
                if (bounds && bounds.getNorthEast() && bounds.getSouthWest())
                {
                    map.fitBounds(bounds);
                }
            }
            catch(e){
                alert('unable to zoom the map to the event');
            }
        });

        // sliding panel
        jQuery(function($) {
            $(document).ready(function() {
                $('#panelHandle-leg').hover(function() {
                    $('#sidePanel-leg-hazard').stop(true, false).animate({
                        'left': '0px'
                    }, 900);
                }, function() {
                    jQuery.noConflict();
                });

                jQuery('#sidePanel-leg-hazard').hover(function() {
                    // Do nothing
                }, function() {

                    jQuery.noConflict();
                    jQuery('#sidePanel-leg-hazard').animate({
                        left: '-201px'
                    }, 800);

                });
            });
        });

        // The map
        // base layers
        naturalEarth = L.tileLayer('http://{s}.tiles.mapbox.com/v3/mapbox.natural-earth-2/{z}/{x}/{y}.png'),
        GEM_base = L.tileLayer(TS_URL + '/v2/world-landmass/{z}/{x}/{y}.png');
        GEM_base2 = new L.tileLayer("http://{s}.tiles.mapbox.com/v3/unhcr.map-8bkai3wa/{z}/{x}/{y}.png",
                                   {subdomains: ['a', 'b', 'c', 'd'], noWrap: true});

        backgroundmap = new L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                subdomains: ['1', '2', '3', '4'],
                maxZoom: 18
            });

        var baselayer = {
            'Open Street Map' : backgroundmap,
            'Natural Earth' : naturalEarth,
            'GEM Base Map' : GEM_base,
            'New GEM Base Map' : GEM_base2
        };

        // overlay layers

        osm = L.tileLayer('http://{s}.tiles.mapbox.com/v3/mapbox.world-bank-borders-en/{z}/{x}/{y}.png'),

        grump_rural = L.tileLayer(TS_URL + '/v2/gdal-custom-rural/{z}/{x}/{y}.png');

        grump_urban = L.tileLayer(TS_URL + '/v2/gdal-custom-urban/{z}/{x}/{y}.png',{opacity: 0.8});
</script>
        {% block gemecd_map %}

        {% endblock gemecd_map %}
<script type="text/javascript">
        var overlays = {
        {% if maptype == 'location' %}
            "Epicenter" : epicentre,
            "5km radial rings": radiusLayer,
            {% endif %}
            "Points layer" : pointsLayer,
            "USGS Shakemap": shakemap,
            "GRUMP Urban" : grump_urban,
            "GRUMP Rural" : grump_rural,
            "OpenStreetMap" : osm,

            {% if user.is_authenticated %}
             {% endif %}
        };



        // create the map
        var map = L.map('map', {
            center: [20, 20],
            zoom: 2,
            maxZoom: 18,
            layers: [backgroundmap, pointsLayer {% if maptype == 'location' %}, epicentre, radiusLayer {% endif %}]
        });

        // add polygon layers
        for (var i=0; i<polyCount;i++ )
        {
            overlays["Polygon Layer " + i] = polygonsLayerList[i];
            map.addLayer(polygonsLayerList[i]);
        }

        L.control.layers(baselayer, overlays).addTo(map);

        // Add Wax support
        //L.wax(map);

    </script>

    {% endblock map %}

    {% endif %}

{% endblock body_outer %}

