{% extends "gemecd_base.html" %}
{% load generictablerenderer %}
{% load i18n %}

{% block title %} {% trans page_title %} {% endblock title %}
{% block indexclass %} class="here" {% endblock indexclass %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}gemecdwebsite/gemecd.css" media="screen" />
{% endblock head %}

{% block body_outer %}

    {% block filterbar %}

        <div id="advancedfilterpanel">
            This is the advanced filter settings panel
            <a id="closebutton" href="javascript:alert('close');">close</a>
        </div>

        <div id="ecd-filterbar">

        <!--start filter bar-->
        <div id="filterbar">


            <div id="filterbarright">
                <div id="backlink">{{ page_backlink|safe }}</div>
            </div>
        </div>
        <!--end filter bar -->
    </div>
{% endblock filterbar %}

        <div id="ecd-leftpanel">
            <div id="panelcontainer">
                <div id="backlink">{{ page_backlink|safe }}</div>

                <h3>{{ page_sub_subtitle }}</h3>
                <div id="locationname">{{ page_subtitle }}</div>
                <h1>{{ page_title }}</h1>


                {% if photoform.errors %}
                <div class="formerror">Error(s) in photo form</div>
                {%  endif %}

                {%  if editmode %}
                    <div class="divider">Photograph {{ photoid }} {{  photofilename }}</div>
                    <form method="post" class="lefthandform">{% csrf_token %}
                        {{ photoform.as_p }}
                        <input type="submit" value="Save" class="gobutton"/>
                    </form>

                {% else %}

                    {% formviewastable field_structure=tablesetup1 %}

                    <div class="divider">Download</div>
                    <div id="downloadlink"><a href="{{ MEDIA_URL }}{{ photofilename }}">Click to download</a></div>

                {%  endif %}
            </div>
        </div>
        <div id="photopanel">
            <img width="764px" src="{{ cachedphotofilename }}" />
            <div id="photocopyrightmessage">{{ copyrightmessage }}</div>
        </div>

{% endblock body_outer %}
