{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="span8">
            {% if REGISTRATION_OPEN %}

           <h2>SIGN UP</h2>
           <p style="margin-bottom: 50px;">
           Registering is free and open to anyone worldwide.
           By registering you agree to the <a href="{% url "terms" %}">OpenQuake Platform Terms of Use</a> and declare to have read and understood our <a href="http://storage.globalquakemodel.org/gem/terms/privacy/">Privacy Policy</a>.
           </p>

            <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <!-- <legend>{% trans "Sign up" %}</legend> -->
                <fieldset>
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div id="div_id_terms" class="control-group  ">
                        <p>Please type 'accept' (lowercase, without quotes) to accept the <a href="{% url "terms" %}">Terms of Use</a>:</p>
                        <label for="id_terms" class="control-label required-field">Terms</label>
                        <div class="controls">
                            <input id="id_terms" name="terms" type="text">
                            <span id="error_id_terms" class="help-inline"></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
                    </div>
                </fieldset>
            </form>
            {% else %}
                <p>{% trans "Sorry, registrations are not open at this time." %}</p>
            {% endif %}
        </div>
        <div class="span4">
            {% include "account/_signup_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
        $( "#signup_form" ).submit(function( event ) {
          if ( $('#id_terms').val() != 'accept') {
            $('#div_id_terms').addClass('error');
            $('#error_id_terms').text('Please accept the Terms');
            $('#id_terms').focus();
            event.preventDefault();
          }
        });
    </script>
{% endblock %}
