{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {% trans "Terms of Use" %} - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
{% endblock extra_head %}

{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
          <!-- Subtemplates can add context-sensitive components to the page-->
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "Terms of Use" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
        {% block oq_body_content %}
          <div class="oq-intro">
            <!-- Main page content goes here -->
            <p>Welcome to the OpenQuake Platform, a website of the GEM Foundation. If you continue to use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our <a href="http://storage.globalquakemodel.org/gem/terms/privacy/"> privacy policy </a> govern the GEM Foundation's relationship with you in relation to this website.<span class="inline inline-right"> </span></p>
            <p>GEM is a collaborative effort and the knowledge and information shared by groups and all contributions from the GEM community are invaluable to advancing seismic risk assessment. For this reason we chose to release the contents of this website under the <a class="external-link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><strong>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</strong></a> (CC BY-NC-SA 4.0), unless otherwise stated. Contents and data uploaded by the user are released under the license each time chosen by the user; if no license is chosen, the default license (CC BY-NC-SA 4.0) is automatically applied.</p>
            <p>In case of doubt, we recommend you to <a class="mail-link" href="mailto:licensing@globalquakemodel.org?subject=Terms%20of%20Use">contact us</a>.</p>
            <p>Furthermore we note that:</p>
            <ul>
              <li>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
              <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
              <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of Italy.</li>
            </ul>
            <p> </p>
            <h3 style="padding: 15px 0 15px;">OpenQuake Platform Sharing Rules</h3>
            <p>In addition, when actively contributing to the platform (for example by uploading or otherwise sharing information with other users), you are required to respect these following conditions:</p>
            <ul>
              <li>do not share identical copies of existing items - this creates confusion and does not add value;</li>
              <li>ensure that you have permission to share the content - if you are not sure about this please contact the owner of the original content;</li>
              <li>ensure that you have clearly identified the licensing terms for the content in the "License" field;</li>
              <li>do not share abusive or otherwise inappropriate content. Inappropriate content will be removed and the accounts of those posting inappropriate content disabled. In particular the following content will not be tolerated:
                <ul>
                  <li>content of a pornographic or sexually explicit nature;</li>
                  <li>content that promotes or condones violence against individuals or groups based on race or ethnic origin, religion, disability, gender, age, nationality, veteran status, or sexual orientation/gender identity, or whose primary purpose is inciting hatred on the basis of these core characteristics;</li>
                </ul>
              </li>
            </ul>
            <p>The GEM Foundation reserves the right to delete items which do not meet our guidelines.</p>
            <p>The GEM Foundation reserves the right to delete user accounts and block users who post offensive and/or inappropriate content.</p>
            <p> </p>
            <h3 style="padding: 15px 0 15px;">Disclaimer</h3>
            <p>The contents of this website are created by the users of the OpenQuake Platform and reflect their personal opinions. We trust that users endeavour to provide correct and updated information, we are not in a position to make representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore at your own risk.</p>
            <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>
            <p>Through this website you are able to link to other websites which are not under the control of the GEM Foundation. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>
            <p>Every effort is made to keep the website up and running smoothly. However, the GEM Foundation takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>
          </div>
        {% endblock oq_body_content %}
      </div>
      <div id="oq-body-sidebar">
        {% include 'includes/sidebar.html' %}
      </div>
    </div>
  </div>
{% endblock body %}


