{% extends "gemecd_base.html" %}

{% block filterbar %}

        <div id="advancedfilterpanel">
            This is the advanced filter settings panel
            <a id="closebutton" href="javascript:alert('close');">close</a>
        </div>

        <div id="ecd-filterbar">

        <!--start filter bar-->
        <div id="filterbar">
            <div class="filterlabel">FILTER</div>
            <div id="filterbarleft">
                <form id="filterform" method="post">{% csrf_token %}
                    {{ filterbarform.as_p }}
                    {% comment %}<p><input id="id_filterbarform-submit" type="submit" value="apply"  title="Apply filters"/></p>{% endcomment %}
                    <div class="filterlabel"><a title="Click for advanced filtering options" id="advanced" href="javascript:alert('display options panel');">advanced</a></div>
                </form>
            </div>

            <div id="filterbarright">
                <a href="/ecd/eventsmap">Back to world map</a>
            </div>
        </div>
        <!--end filter bar -->
    </div>
{% endblock filterbar %}

{% block leftpanel %}
        <div id="ecd-leftpanel">
            <div id="panelcontainer">
                <div id="backlink">{{ page_backlink|safe }}</div>
                <h1>{{ paneltitle }}</h1>
                    <form method="post">{% csrf_token %}
                    {{ panelform.as_p }}
                    <!--<input type="submit" value=" &raquo; " class="gobutton" title="Quick link to details of event"/>-->
                    </form>
            </div>
        </div>

{% endblock leftpanel %}

{% block gemecd_map %}
    <script type="text/javascript">
        // GEM ECD specific mapping

        shakemap = new L.TileLayer.WMS("http://gemecd.org:8080/geoserver/wms",
            {
               layers: 'gemecd:shakemapquery',
                format: 'image/png',
                transparent: true,
                tiled: true,
                opacity: 0.5,
                viewparams:'shakemapid:200904060132'
                //viewparams:'shakemapid:200805120628'
            });

        var customIcon = L.icon({
            iconUrl: '{{ STATIC_URL }}marker-icon.png',
            shadowUrl: '{{ STATIC_URL }}marker-shadow.png',
            iconSize:     [12, 20], // size of the icon
            shadowSize:   [20, 20], // size of the shadow
            iconAnchor:   [6, 20], // point of the icon which will correspond to marker's location
            shadowAnchor: [6, 20],  // the same for the shadow
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });

        var boundsGroup = new L.FeatureGroup();

        var geojsonFeaturePoints = {{ geojsonpoints|safe }}

                pointsLayer = L.geoJson(geojsonFeaturePoints,
                        {
                            pointToLayer: function (feature, latlng)
                            {
                                {% if maptype == 'event' %}
                                    year = parseInt(feature.properties.y);
                                    if (year < 1900)
                                    {
                                        year = year + 100;
                                    }
                                    var mkr =  L.marker(latlng, {icon:customIcon, title:year + " " + feature.properties.n + " " + feature.properties.c });
                                {% endif %}
                                {% if maptype == 'location' %}
                                    var mkr =  L.marker(latlng, {icon:customIcon, title:feature.properties.s + ": " + feature.properties.n });
                                {% endif %}

                                mkr.featureID = feature.properties.i;
                                return mkr;
                            },
                            onEachFeature:function (feature, layer)
                            {
                                {% if maptype == 'event' %}
                                    year = parseInt(feature.properties.y);
                                    if (year < 1900)
                                    {
                                        year = year + 100;
                                    }
                                    html = '<span id="eventdate">' + year + '</span><span id="eventname">' + feature.properties.n + '</span><span id="eventcountry">' + feature.properties.c + '</span>';
                                    html = html + '<span id="photocount">' + feature.properties.s + ' study(s)</span>'
                                    html = html + '<a href=eventoverview?{{ eventquerystring }}&zoomtoextent=True&eventid=' + feature.properties.i + '>Locations on map &raquo;</a>';
                                    //html = html + '<a href=/overview?{{ eventquerystring }}&zoomtoextent=True&eventid=' + feature.properties.i + '&tab=photos>Photos &raquo;</a>';
                                    html = '<div id="eventpopupcontainer">\n' + html + '</div>\n'
                                    layer.bindPopup( html );
                                {% endif %}
                                {% if maptype == 'location' %}
                                    layer.on("click", function(e)
                                            {
                                                var csrftoken = getCookie('csrftoken');
                                                jQuery.ajaxSetup({
                                                    beforeSend: function(xhr, settings)
                                                    {
                                                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                                    }
                                                });

                                                var post = jQuery.post
                                                (
                                                        "/ecd/locationjson?markerid=" + e.target._leaflet_id + "&locationid=" + e.target.featureID,
                                                        function(json)
                                                        {   // callback
                                                            imagehtml = ''
                                                            if ( json.photourl != '' )
                                                            {
                                                                imagehtml = '<img src="' + json.photourl + '" /><br />';
                                                            }

                                                            html =        '' + json.eventtitle + '<br />' +
                                                                    '<i>' + json.study + '</i><br />' +
                                                                    imagehtml  +
                                                                    '<span id="locationame">' + json.locationname + '</span><br />' ;

                                                            if (json.inventoryclass != '[aggregated]')
                                                            {
                                                                    html += '<b>Inventory class: </b>' + json.inventoryclass + ' (' + json.inventorydescription + ')'+ '<br />' +
                                                                    '<b>Damage level: </b>' + json.damagelevel + '<br />' +
                                                                    '<b>Asset class: </b>' + json.assetclass + '<br />' +
                                                                    '<b>Asset type: </b>' + json.assettype + '<br />' +
                                                                    '<b>Asset subtype: </b>' + json.assetsubtype + '<br />' +
                                                                    '<b>Design code: </b>' + json.designcode + '<br />' ;
                                                                    //<a href="eventoverview?{{ tabsquerystring }}&tab=photos&locationid=' + json.locationid + '">see all ' + json.photocount + ' photo(s) &raquo;</a>' +

                                                            }
                                                            else
                                                            {
                                                                html += 'Aggregated survey<br />';
                                                            }

                                                            html += '<a href="/ecd/location/' + json.locationid + '">location details &raquo;</a>';

                                                            html = '<div id="locationpopupcontainer">\n' + html + '</div>\n'

                                                            e.target._layers[json.markerid].bindPopup(html).openPopup();
                                                            //jQuery("#id_locationid").val(json.locationid);
                                                            //jQuery("#currentlocationname").text(json.locationname);
                                                        }
                                                );
                                            }
                                    );
                                {% endif %}
                            }
                        }
                );
                if ((pointsLayer._layers[1] != null) ) // only way I can find of detecting a leaflet layer that is empty
                {
                    boundsGroup.addLayer(pointsLayer);
                }

                //var polygonsLayer = new L.geoJson('',{}) // create null geoJson polygon layer in case there are none to be displayed
                var polyCount = 0;
                //var polygonsGroup = new L.FeatureGroup();
                //var boundsGroup = new L.FeatureGroup([pointsLayer]);
                var polygonsLayerList = [];

        {% for geojsonpolygons in geojsonpolygonslist %}

                var geojsonFeaturePolygons = {{ geojsonpolygons|safe }}

                var polyStyle = {
                    "color": "#ff7800",
                    "weight": 1,
                    "opacity": 0.65
                };

                polygonsLayer = L.geoJson(geojsonFeaturePolygons,
                        {
                            style: polyStyle,
                            // note - polygon popups are done in a different way to points
                            onEachFeature:function (feature, layer)
                            {
                                {% if maptype == 'location' %}

                                    layer.on("click", function(e)
                                            {
                                                var csrftoken = getCookie('csrftoken');
                                                jQuery.ajaxSetup({
                                                    beforeSend: function(xhr, settings)
                                                    {
                                                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                                    }
                                                });

                                                var post = jQuery.post
                                                (
                                                        "/ecd/locationjson?markerid=" + e.target._leaflet_id + "&locationid=" + feature.properties.i + "&polygon=1",
                                                        function(json)
                                                        {   // callback
                                                            imagehtml = ''
                                                            if ( json.photourl != '' )
                                                            {
                                                                imagehtml = '<img src="' + json.photourl + '" /><br />';
                                                            }

                                                            html =        '' + json.eventtitle + '<br />' +
                                                                    '<i>' + json.study + '</i><br />' +
                                                                    imagehtml  +
                                                                    '<span id="locationame">' + json.locationname + '</span><br />' ;

                                                            if (json.inventoryclass != '[aggregated]')
                                                            {
                                                                    html += '<b>Inventory class: </b>' + json.inventoryclass + ' (' + json.inventorydescription + ')'+ '<br />' +
                                                                    '<b>Damage level: </b>' + json.damagelevel + '<br />' +
                                                                    '<b>Asset class: </b>' + json.assetclass + '<br />' +
                                                                    '<b>Asset type: </b>' + json.assettype + '<br />' +
                                                                    '<b>Asset subtype: </b>' + json.assetsubtype + '<br />' +
                                                                    '<b>Design code: </b>' + json.designcode + '<br />' ;
                                                                    //<a href="eventoverview?{{ tabsquerystring }}&tab=photos&locationid=' + json.locationid + '">see all ' + json.photocount + ' photo(s) &raquo;</a>' +

                                                            }
                                                            else
                                                            {
                                                                html += 'Aggregated survey</br>';
                                                            }

                                                            html += '<a href="/ecd/location/' + json.locationid + '">location details &raquo;</a>';

                                                            html = '<div id="locationpopupcontainer">\n' + html + '</div>\n'

                                                            //e.target._layers[json.markerid].bindPopup(html);
                                                            var bounds = e.target._layers[json.markerid].getBounds();
                                                            pop = new L.Popup();
                                                            pop.setLatLng(bounds.getCenter());
                                                            pop.setContent(html);
                                                            map.openPopup(pop);
                                                            //jQuery("#id_locationid").val(json.locationid);
                                                            //jQuery("#currentlocationname").text(json.locationname);
                                                        }
                                                );
                                            },feature // this is how you pass the feature into the click event
                                    );
                                {% endif %}
                            }
                        }
                );
                //polygonsGroup.addLayer(polygonsLayer);
                polygonsLayerList.push(polygonsLayer);
                boundsGroup.addLayer(polygonsLayer);
                polyCount++;
        {% endfor %}

        // set up the bounds group which defines how the map is fitted
        //var boundsGroup = new L.FeatureGroup([pointsLayer,polygonsLayer]);

        //end of GEM ECD mapping
    </script>
{% endblock gemecd_map %}