{% extends "gemecd_base.html" %}


{% block filterbar %}
        <div id="advancedfilterpanel">
            This is the advanced filter settings panel
            <a id="closebutton" href="javascript:alert('close');">close</a>
        </div>

        <div id="ecd-filterbar">

        <!--start filter bar-->
        <div id="filterbar">
            <div class="filterlabel">FILTER</div>
            <div id="filterbarleft">
                <form id="filterform" method="post">{% csrf_token %}
                    {{ filterbarform.as_p }}
                    {% comment %}<p><input id="id_filterbarform-submit" type="submit" value="apply"  title="Apply filters"/></p>{% endcomment %}
                    <div class="filterlabel"><a title="Click for advanced filtering options" id="advanced" href="javascript:alert('display options panel');">advanced</a></div>
                </form>
            </div>

            <div id="filterbarright">

            </div>
        </div>
        <!--end filter bar -->
    </div>
{% endblock filterbar %}

{% block leftpanel %}
        <div id="ecd-leftpanel">
            <div id="panelcontainer">
                <h1>{{ paneltitle }}</h1>
                <form method="post">{% csrf_token %}
                    {{ panelform.as_p }}
                    <!--<input type="submit" value=" &raquo; " class="gobutton" title="Quick link to details of event"/>-->
                </form>
            </div>
        </div>

{% endblock leftpanel %}

{% block gemecd_map %}
    <script type="text/javascript">
        // GEM ECD specific mapping

        shakemap = new L.TileLayer.WMS("http://gemecd.org:8080/geoserver/wms",
            {
               layers: 'gemecd:shakemapquery',
                format: 'image/png',
                transparent: true,
                tiled: true,
                opacity: 0.5,
                viewparams:'shakemapid:200904060132'
                //viewparams:'shakemapid:200805120628'
            });

        var customIcon = L.icon({
            iconUrl: '{{ STATIC_URL }}marker-icon.png',
            shadowUrl: '{{ STATIC_URL }}marker-shadow.png',
            iconSize:     [12, 20], // size of the icon
            shadowSize:   [20, 20], // size of the shadow
            iconAnchor:   [6, 20], // point of the icon which will correspond to marker's location
            shadowAnchor: [6, 20],  // the same for the shadow
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });

        var geojsonFeaturePoints = {{ geojson|safe }}

        var polygonsLayer = new L.geoJson('',{}) // create null geoJson polygon layer
        var polygonLayersList = [];  // need this variable even if there are no polygon layers
        var polyCount = 0;

        var pointsLayer = L.geoJson(geojsonFeaturePoints,
                        {
                            pointToLayer: function (feature, latlng)
                            {
                                {% if maptype == 'event' %}
                                    year = parseInt(feature.properties.y);
                                    if (year < 1900)
                                    {
                                        year = year + 100;
                                    }
                                    var mkr =  L.marker(latlng, {icon:customIcon, title:year + " " + feature.properties.n + " " + feature.properties.c });
                                {% endif %}

                                mkr.featureID = feature.properties.i;
                                return mkr;
                            },
                            onEachFeature:function (feature, layer)
                            {
                                {% if maptype == 'event' %}
                                    year = parseInt(feature.properties.y);
                                    if (year < 1900)
                                    {
                                        year = year + 100;
                                    }
                                    html = '<span id="eventdate">' + year + '</span><span id="eventname">' + feature.properties.n + '</span><span id="eventcountry">' + feature.properties.c + '</span>';
                                    html = html + '<span id="photocount">' + feature.properties.s + ' study(s)</span>'
                                    html = html + '<a href=/ecd/eventoverview/' + feature.properties.i + '?{{ eventquerystring }}&zoomtoextent=True{{ filterstring }}>Locations on map &raquo;</a>';
                                    //html = html + '<a href=/overview?{{ eventquerystring }}&zoomtoextent=True&eventid=' + feature.properties.i + '&tab=photos>Photos &raquo;</a>';
                                    html = '<div id="eventpopupcontainer">\n' + html + '</div>\n'
                                    layer.bindPopup( html );
                                {% endif %}

                            }
                        }
                );
        // set up the bounds group which defines how the map is fitted
        var boundsGroup = new L.FeatureGroup([pointsLayer]);

        //end of GEM ECD mapping
    </script>
{% endblock gemecd_map %}
