{% extends "base.html" %}
{% load generictablerenderer %}

{% block controlbar %}
    <!--start control bar-->
    <div id="controlbar">


            This is the control bar


    </div>
    <!--end control bar -->
{% endblock controlbar %}

{% block javascript1 %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>

    <script type="text/javascript">
        function initLeafletmap()
        {

            var backgroundmap = new L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18
            });
            map = new L.Map('map', {
                center: new L.LatLng(10, 10),
                zoom: 2,
                layers: [backgroundmap],
                zoomControl: true
                });
        }

        jQuery( document ).ready( function()
        {
            initLeafletmap();
        });
    </script>

{% endblock javascript1 %}

{% block content %}

    {% if form.errors %}
        <div>Error in form</div>
    {%  endif %}

    {%  if editmode %}
        <form method="post" class="pageedit">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Save" class="gobutton"/>
        </form>
    {%  endif %}

    {% if not form.errors and not editmode%}
        <h1>{{ page_title }}</h1>
        <h3>{{ page_subtitle }}</h3>
        {% formview field_structure=simpleformfields1 %}
    {%  endif %}


    <div id="container">
        <div id="map"></div>
    </div>

    <div class="d3message">You are using Internet Explorer 8 or earlier - This page requires at least Internet Explorer 9 - or you can use Firefox, Chrome or Safari</div>
{% endblock content %}

{% block leftsidebar %}
<div class="region-sidebar-first">
    <div class="leftsidebar">
        <form method="post">{% csrf_token %}
            This is the left sidebar <input type="submit" value="Search" class="gobutton"/>
        </form>
    </div>
</div>

{% endblock leftsidebar %}


{% block comments %}
    {% comment  %}
        There are no comments on content pages
    {% endcomment %}
{% endblock comments %}




