{% extends "page_layout.html" %}
{% load generictablerenderer %}
{% load i18n %}

{% block title %} {% trans page_title %} {% endblock title %}
{% block indexclass %} class="here" {% endblock indexclass %}

{% block head %}

    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/gemecd.css" media="screen" />

    <!-- IE 8 Compatibility -->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">-->

    <!-- Google resources -->
    <script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>

    <!-- leaflet resources -->
    <link rel="stylesheet" href="{{ src_folder }}src/Leaflet/dist/leaflet.css" />
    <script type="text/javascript" src="{{ src_folder }}src/Leaflet/dist/leaflet.js"></script>

    <!-- wax resources -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/wax-controls.css" media="screen" >
    <script type='text/javascript' src='{{ src_folder }}src/L.Wax/L.Wax.js'></script>
    <script type="text/javascript" src="{{ src_folder }}src/wax/dist/wax.leaf.min.js"></script>
    <script type='text/javascript' src='{{ src_folder }}src/wax/ext/modestmaps.min.js'></script>
    <script type='text/javascript' src='{{ src_folder }}src/wax/dist/wax.mm.js'></script>

    <!-- jquery and other stuff -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
    <!--<script type='text/javascript' src='{{ STATIC_URL }}jquery.min.js'></script>-->
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/exposure-legend.css" media="screen" /> -->

    <!-- jQuery UI needed for iconic buttons in the filter bar -->
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" media="screen" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

{% endblock head %}

{% block main %}



{% block filterbar %}

        <div id="advancedfilterpanel">
            This is the advanced filter settings panel
            <a id="closebutton" href="javascript:alert('close');">close</a>
        </div>

        <div id="ecd-filterbar">

        <!--start filter bar-->
        <div id="filterbar">


            <div id="filterbarright">
                <div id="backlink">{{ page_backlink|safe }}</div>
            </div>
        </div>
        <!--end filter bar -->
    </div>
{% endblock filterbar %}

{% block leftpanel %}
        <div id="ecd-leftpanelwide">
            <div id="panelcontainerwide">

                {%  if editmode and not addmode%}
                    <form method="post" class="pageedit">{% csrf_token %}

                     <table>
                        {% if locationform.errors %}
                             <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                        {%  endif %}
                        {% if inventoryclassform.errors %}
                             <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                        {%  endif %}


                        {{ locationform.as_table }}

                        {{ inventoryclassform.as_table }}

                        {% for surveyform in surveyformlist %}
                            {% if surveyform.errors %}
                                <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                            {%  endif %}
                            {{ surveyform.as_table }}
                        {% endfor %}
                     </table>

                     {% if damagelevelsdict|length > 0 %}
                        <h4 class="matrixtitle damage">Damage Matrix</h4>

                        <div class="matrixdisplay damage">
                        <table class="matrixdisplay damage"><tr><th class="damagelevelheader inventoryclassheader"></th>
                        {%  for key,value in damagelevelsdict.items %}
                            <th class="damagelevelheader"><a href="/ecd/damagelevel/{{ key }}">{{ value }}</a></th>
                        {%  endfor %}</tr>
                        {% for row in damagematrixformarray %}
                        <tr>
                            <th class="inventoryclassheader">{% for key,value in inventoryclassesdict.items %}{% ifequal forloop.counter forloop.parentloop.counter %}<a href="/ecd/inventoryclass/{{ key }}">{{ value }}</a>{% endifequal %}{% endfor %}</th>
                            {%  for cell in row %}
                                    {% if cell.errors %}
                                        <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                                    {%  endif %}
                                   {% if cell != '-' %}
                                    <td class="cell"><table>{{ cell.as_table }}</table></td>
                                   {% else %}
                                    <td class="cell">-</td>
                                   {% endif %}
                            {% endfor %}
                         </tr>
                         {% endfor %}
                         </table>
                         </div>
                     {% endif %}

                     {% if casualtylevelsdict|length > 0 %}
                        <h4 class="matrixtitle casualty">Casualty Matrix</h4>

                        <div class="matrixdisplay casualty">
                        <table class="matrixdisplay casualty"><tr><th class="casualtylevelheader inventoryclassheader"></th>
                        {%  for key,value in casualtylevelsdict.items %}
                            <th class="casualtylevelheader"><a href="/ecd/casualtylevel/{{ key }}">{{ value }}</a></th>
                        {%  endfor %}</tr>
                        {% for row in casualtymatrixformarray %}
                        <tr>
                            <th class="inventoryclassheader">{% for key,value in inventoryclassesdict.items %}{% ifequal forloop.counter forloop.parentloop.counter %}<a href="/ecd/inventoryclass/{{ key }}">{{ value }}</a>{% endifequal %}{% endfor %}</th>
                            {%  for cell in row %}
                                    {% if cell.errors %}
                                        <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                                    {%  endif %}
                                   {% if cell != '-' %}
                                    <td class="cell"><table>{{ cell.as_table }}</table></td>
                                   {% else %}
                                    <td class="cell">-</td>
                                   {% endif %}
                            {% endfor %}
                         </tr>
                         {% endfor %}
                         </table>
                         </div>
                     {% endif %}


                    <input type="submit" value="Save" class="gobutton"/>
                     </form>
                {%  endif %}

                {%  if editmode and addmode%}
                    <form method="post" class="pageedit">{% csrf_token %}

                     <table>
                        {% if form.errors %}
                             <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                        {%  endif %}

                        {{ form.as_table }}
                     </table>
                     <input type="submit" value="Save" class="gobutton"/>

                {% endif %}

                {% if not input_errors and not editmode%}
                <div id="backlink">{{ page_backlink|safe }}</div>

                <h3>{{ event_name }}</h3>
                <div id = "studyname">{{ study_name }}</div>
                <h1>{{location_name }}</h1>

                {% if nonaggoverviewfields != '' %}
                    <h4>Overview</h4>
                    {% formviewastable field_structure=nonaggoverviewfields %}
                {% endif %}

                <h4>Location details</h4>
                {% formviewastable field_structure=locationfields %}

                {% if inventoryclassfields != '' %}
                    <h4>Inventory Class details</h4>
                    {% formviewastable field_structure=inventoryclassfields %}
                {% endif %}

                {% for surveyfields in surveyfieldlist %}
                    <h4>Survey details</h4>
                    {% formviewastable field_structure=surveyfields %}
                {% endfor %}

                {% if damagelevelsdict|length > 0 %}
                    <h4 class="matrixtitle damage">Damage Matrix</h4>

                    <div class="matrixdisplay damage">
                    <table class="matrixdisplay damage"><tr><th class="damagelevelheader inventoryclassheader"></th>
                    {%  for key,value in damagelevelsdict.items %}
                        <th class="damagelevelheader"><a href="/ecd/damagelevel/{{ key }}">{{ value }}</a></th>
                    {%  endfor %}</tr>
                    {% for row in damagematrixdisplayarray %}
                    <tr>
                        <th class="inventoryclassheader">{% for key,value in inventoryclassesdict.items %}{% ifequal forloop.counter forloop.parentloop.counter %}<a href="/ecd/inventoryclass/{{ key }}">{{ value }}</a>{% endifequal %}{% endfor %}</th>
                        {%  for element in row %}
                               {% if element != '-' %}
                                <td class="cell"><a href="/ecd/surveyvalue/{{ element.id }}">{% formview field_structure=element.cell %}</a></td>
                               {% else %}
                                <td class="cell">-</td>
                               {% endif %}
                        {% endfor %}
                     </tr>
                     {% endfor %}
                     </table>
                     </div>
                {% endif %}

                {% if casualtylevelsdict|length > 0 %}
                    <h4 class="matrixtitle casualty">Casualty Matrix</h4>

                    <div class="matrixdisplay casualty">
                    <table class="matrixdisplay casualty"><tr><th class="casualtylevelheader inventoryclassheader"></th>
                    {%  for key,value in casualtylevelsdict.items %}
                        <th class="casualtylevelheader"><a href="/ecd/casualtylevel/{{ key }}">{{ value }}</a></th>
                    {%  endfor %}</tr>
                    {% for row in casualtymatrixdisplayarray %}
                    <tr>
                        <th class="inventoryclassheader">{% for key,value in inventoryclassesdict.items %}{% ifequal forloop.counter forloop.parentloop.counter %}<a href="/ecd/inventoryclass/{{ key }}">{{ value }}</a>{% endifequal %}{% endfor %}</th>
                        {%  for element in row %}
                               {% if element != '-' %}
                                <td class="cell"><a href="/ecd/surveyvalue/{{ element.id }}">{% formview field_structure=element.cell %}</a></td>
                               {% else %}
                                <td class="cell">-</td>
                               {% endif %}
                        {% endfor %}
                     </tr>
                     {% endfor %}
                     </table>
                     </div>
                {% endif %}

                {% endif %}
            </div>
        </div>

{% endblock leftpanel %}

    {% if not input_errors %}
    <div id="map" style="width:20%;height:300px;float:right;">
    </div>

    <form class="quicklinklocation" method="post">{% csrf_token %}
        {{ panelform.as_p }}
    </form>

    {% if photogrid != '' %}
    <div id="photogrid">
        <div class="photomessage">{{ photomessage }}</div>
        {% gridlist field_structure=photogrid %}
    </div>
    {% endif %}

    <!--[if lt IE 8]><div id="ie8message">You are using a version of Internet Explorer that cannot display this page - This page requires at least Internet Explorer 9 - or you can use Firefox, Chrome or Safari</div><![endif]-->

    <script type="text/javascript">

        //resize the main div
        $(document).ready(function() {
            var main_height = $(window).height() - $("#header-wrapper").height() - $("#footer").height();
            //var map_height = $(window).height() - $("#header-wrapper").height() - $("#footer").height() - $("#tooltip").height() - $("#ecd-filterbar").height() - 25;
            $('#main').css("height",main_height + "px");
            //$('#map').css("height",map_height + "px");
            //map.invalidateSize(false);
        });

        $(document).ready(function() {
            $(window).resize(function(){
                var main_height = $(window).height() - $("#header-wrapper").height() - $("#footer").height();
                //var map_height = $(window).height() - $("#header-wrapper").height() - $("#footer").height() - $("#tooltip").height()- $("#ecd-filterbar").height() - 25;
                $('#main').css("height",main_height + "px");
                //$('#map').css("height",map_height + "px");
                //map.invalidateSize(false);
            });
        });

        jQuery(document).ready(function($){

            // first fit the bounds to the locations (must be done in the document ready function)
            //var bounds = L.geoJson(geojsonFeaturePoints).getBounds();
            //if (bounds && bounds.getNorthEast() && bounds.getSouthWest())
            //{
            //    map.fitBounds(bounds);
            //}

            // first fit the bounds to the union of all the layers that are visible (must be done in the document ready function)
            var bounds = boundsGroup.getBounds();
            if (bounds && bounds.getNorthEast() && bounds.getSouthWest())
            {
                map.fitBounds(bounds);
            }

        });
    </script>

{% block gemecd_map %}
    <script type="text/javascript">
        // GEM ECD specific mapping

        shakemap = new L.TileLayer.WMS("http://gemecd.org:8080/geoserver/wms",
            {
               layers: 'gemecd:shakemapquery',
                format: 'image/png',
                transparent: true,
                tiled: true,
                opacity: 0.5,
                viewparams:'shakemapid:200904060132'
                //viewparams:'shakemapid:200805120628'
            });

        var customIcon = L.icon({
            iconUrl: '{{ STATIC_URL }}marker-icon.png',
            shadowUrl: '{{ STATIC_URL }}marker-shadow.png',
            iconSize:     [12, 20], // size of the icon
            shadowSize:   [20, 20], // size of the shadow
            iconAnchor:   [6, 20], // point of the icon which will correspond to marker's location
            shadowAnchor: [6, 20],  // the same for the shadow
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });

        var boundsGroup = new L.FeatureGroup();

        var geojsonFeaturePoints = {{ geojsonpoints|safe }}

                pointsLayer = L.geoJson(geojsonFeaturePoints,
                        {
                            pointToLayer: function (feature, latlng)
                            {
                                var mkr =  L.marker(latlng, {icon:customIcon, title:feature.properties.s + ": " + feature.properties.n });
                                mkr.featureID = feature.properties.i;
                                return mkr;
                            }
                        }
                );
                if ((pointsLayer._layers[1] != null) ) // only way I can find of detecting a leaflet layer that is empty
                {
                    boundsGroup.addLayer(pointsLayer);
                }

                var polyCount = 0;
                var polygonsLayerList = [];

        {% for geojsonpolygons in geojsonpolygonslist %}

                var geojsonFeaturePolygons = {{ geojsonpolygons|safe }}

                var polyStyle = {
                    "color": "#ff7800",
                    "weight": 1,
                    "opacity": 0.65
                };

                polygonsLayer = L.geoJson(geojsonFeaturePolygons,{ style:polyStyle });
                polygonsLayerList.push(polygonsLayer);
                boundsGroup.addLayer(polygonsLayer);
                polyCount++;
        {% endfor %}

        // set up epicentre graphics
        var epicentre = L.marker([{{ epicentre.lat }}, {{ epicentre.lon }}], {'title': 'Epicentre: {{ paneltitle }}'});
        boundsGroup.addLayer(epicentre);

        var radius = 5000;  // metres
        var numberOfCircles = 10;
        var radiusLayer = L.layerGroup();

        for (var i=1; i < numberOfCircles + 1; i++)
        {
                radiusLayer.addLayer(L.circle([{{ epicentre.lat }}, {{ epicentre.lon }}], radius * i, {'weight':1, 'color': '#f88', 'fillColor': '#f66', 'fillOpacity': 0.03}));
        }

        //end of GEM ECD mapping
    </script>


{% endblock gemecd_map %}

 <script type="text/javascript">
        // base layers
        naturalEarth = L.tileLayer('http://{s}.tiles.mapbox.com/v3/mapbox.natural-earth-2/{z}/{x}/{y}.png'),
        GEM_base = L.tileLayer('http://tilestream.openquake.org/v2/world-landmass/{z}/{x}/{y}.png');
        GEM_base2 = new L.tileLayer("http://{s}.tiles.mapbox.com/v3/unhcr.map-8bkai3wa/{z}/{x}/{y}.png",
                                   {subdomains: ['a', 'b', 'c', 'd'], noWrap: true});


         backgroundmap = new L.tileLayer('http://{s}.tile.cloudmade.com/4cc00f0c8a8e42f2a2693481a431870a/998/256/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>[…]',
                maxZoom: 18
            });

        var baselayer = {
            'Open Street Map' : backgroundmap,
            'Natural Earth' : naturalEarth,
            'GEM Base Map' : GEM_base,
            'New GEM Base Map' : GEM_base2
        };

        var overlays = {
            "Epicenter" : epicentre,
            "5km radial rings": radiusLayer,
            "Points layer" : pointsLayer,
            //"Polygons layer" : polygonsLayer,
            "Sample shakemap": shakemap

        };

        // create the map
        var map = L.map('map', {
            center: [20, 20],
            zoom: 2,
            maxZoom: 18,
            layers: [ backgroundmap, pointsLayer, epicentre, radiusLayer]
        });

        // add polygon layers
        for (var i=0; i<polyCount;i++ )
        {
            overlays["Polygon Layer " + i] = polygonsLayerList[i];
            map.addLayer(polygonsLayerList[i]);
        }

        //L.control.layers(baselayer, overlays).addTo(map);

        // Add Wax support
        L.wax(map);

    </script>


   {% endif %}

{% endblock main %}
