<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v2.3.4</title>

  <link rel="shortcut icon" type="image/png" href="lib/jasmine-2.3.4/jasmine_favicon.png">
  <link rel="stylesheet" href="lib/jasmine-2.3.4/jasmine.css">

  <script src="lib/jasmine-2.3.4/jasmine.js"></script>
  <script src="lib/jasmine-2.3.4/jasmine-html.js"></script>
  <script src="lib/jasmine-2.3.4/boot.js"></script>
  <script src="lib/jasmine-2.3.4/mock-ajax.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../js/jquery.mousewheel.js"></script>
  <script src="../Leaflet/dist/leaflet.js"></script>
  <script src="../L.Wax/L.Wax.js"></script>
  <script src="../wax/dist/wax.leaf.min.js"></script>
  <script src="../wax/ext/modestmaps.min.js"></script>
  <script src="../wax/dist/wax.mm.js"></script>
  <script src="../js/base_data_viewer_app.js"></script>
  <script src="../js/leaflet.utfgrid.js"></script>
  <script src="../js/leaflet.ajax.min.js"></script>
  <script src="../js/jquery.dataTables.js"></script>
  <script src="../js/d3.js"></script>
  <script src="../js/bing.js"></script>
  <script src="../js/angular.min.js"></script>
  <script src="../js/ng-table.min.js"></script>
  <script src="../lib/jquery-ui/js/jquery-ui-1.10.3.custom.js"></script>
  <script src="../js/base_map_options.js"></script>
  <script src="../js/xml2json.js"></script>
  <script src="../js/leaflet-dvf.js"></script>

  <!-- include source files here... {{ STATIC_URL }} -->

  <script src="../../irv/static/irv/irv_viewer.js"></script>
  <script src="../../irv/irv_viewer_d3_tree.js"></script>
  <script src="../../irv/irv_viewer_PCP_primary.js"></script>
  <script src="../../irv/irv_viewer_PCP_theme.js"></script>
  <script src="../../irv/irv_viewer_PCP_IRI.js"></script>

  <!-- include spec files here... -->
  <script src="spec/SpecIRV.js"></script>

</head>

<body>
</body>
</html>
