{% extends "gemecd_base.html" %}
{% load generictablerenderer %}

{% block main %}

{% block filterbar %}
    <!-- this kind of page does not have a filter bar - just keep the space free -->
    <div id="ecd-filterbar">

        <!--start filter bar-->
        <div id="filterbar">
            <div id="filterbarright">
                <div id="backlink">{{ page_backlink|safe }}</div>
            </div>
        </div>
        <!--end filter bar -->
    </div>
{% endblock filterbar %}

{% block leftpanel %}
        <div id="ecd-leftpanelwide">
            <div id="panelcontainerwide">

                {%  if editmode and not addmode%}
                    <form method="post" class="pageedit">{% csrf_token %}

                     <table>
                        {% if eventdetailsform.errors %}
                             <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                        {%  endif %}

                        {{ eventfullform.as_table }}

                     </table>

                     <input type="submit" value="Save" class="gobutton"/>
                     </form>
                {%  endif %}

                {%  if editmode and addmode%}
                    <form method="post" class="pageedit">{% csrf_token %}

                     <table>
                        {% if form.errors %}
                             <div class="formerrorheader">Sorry, there are some error(s) in your input - see below</div>
                        {%  endif %}

                        {{ form.as_table }}
                     </table>
                     <input type="submit" value="Save" class="gobutton"/>

                {% endif %}

                {% if not input_errors and not editmode%}
                    <div class="infocontainerwide">
                        <h1>{{ paneltitle }}</h1>
                        <div class="overview">{% formviewastable field_structure=eventoverviewfields %}</div>
                        {% if iconicimage != "" %}
                            <img class="eventicon" src="{{ STATIC_URL }}gemecdeventicons/{{ iconicimage }}" title="{{ paneltitle }}"/>
                        {% endif %}
                    </div>

                    <div class="infocontainerwide">
                    {{ narrative|safe }}
                    <br /><br />
                    <h4>Impact summary</h4>
                    {{ impact|safe }}

                    </div>

                    <div class="foursquare">

                    <div class="infocontainer">
                    <h4>Demographics</h4>
                    {% formviewastable field_structure=demographicsfields %}
                    </div>

                    <div class="infocontainer">
                    <h4>Human impact</h4>
                    {% formviewastable field_structure=humancasualtyfields %}
                    </div>

                    <div class="infocontainer">
                    <h4>Building damage</h4>
                    {% formviewastable field_structure=buildingdamagefields %}
                    </div>

                    <div class="infocontainer">
                    <h4>Socioeconomic loss (millions of USD)</h4>
                    {% formviewastable field_structure=socioeconomicfields %}
                    </div>



                    </div>

                {% endif %}
            </div>
        </div>

{% endblock leftpanel %}

{% block rightpanel %}

    <div id="ecd-rightpanelnarrow">
    {% if not input_errors %}
        <div id="map">
        </div>

        <div class="infocontainer">
            <h4>Key facts</h4>
            {% formviewastable field_structure=keyfactsfields %}
        </div>

        <div class="infocontainer">
            <h4>Main data source studies</h4>
            {% tableview field_structure=studieslist %}
        </div>

    {% endif %}
    </div>
{% endblock rightpanel %}

{% block map %}

    <!--[if lt IE 8]><div id="ie8message">You are using a version of Internet Explorer that cannot display this page - This page requires at least Internet Explorer 9 - or you can use Firefox, Chrome or Safari</div><![endif]-->

{% block gemecd_map %}
    <script type="text/javascript">
        // GEM ECD specific mapping
        var customIcon = L.icon({
            iconUrl: '{{ STATIC_URL }}Leaflet/dist/images/marker-icon.png',
            shadowUrl: '{{ STATIC_URL }}Leaflet/dist/images/marker-shadow.png',
            iconSize:     [12, 20], // size of the icon
            shadowSize:   [20, 20], // size of the shadow
            iconAnchor:   [6, 20], // point of the icon which will correspond to marker's location
            shadowAnchor: [6, 20],  // the same for the shadow
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });

        // set up epicentre graphics
        var epicentre = L.marker([{{ epicentre.lat }}, {{ epicentre.lon }}], {'title': 'Epicentre: {{ paneltitle }}'});

        var radius = 5000;  // metres
        var numberOfCircles = 10;
        var radiusLayer = L.layerGroup();

        for (var i=1; i < numberOfCircles + 1; i++)
        {
                radiusLayer.addLayer(L.circle([{{ epicentre.lat }}, {{ epicentre.lon }}], radius * i, {'weight':1, 'color': '#f88', 'fillColor': '#f66', 'fillOpacity': 0.03}));
        }

        //end of GEM ECD mapping
    </script>


{% endblock gemecd_map %}

 <script type="text/javascript">
        backgroundmap = new L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18
        });
        var overlays = {
            "Epicenter" : epicentre,
            "5km radial rings": radiusLayer
        };

        // create the map
        var map = L.map('map', {
            center: [{{ epicentre.lat }}, {{ epicentre.lon }}],
            zoom: 4,
            maxZoom: 18,
            layers: [ backgroundmap, epicentre, radiusLayer]
        });


    </script>
{% endblock map %}

{% endblock main %}
