{% load i18n %}
    <footer id="footer" class="footer">
      <div class="container">
        <div class="pull-left">
          <a href="https://github.com/gem/oq-platform" target="_blank">OpenQuake Platform</a> <em>{{ OQP_VERSION }}</em> |
          <a href="http://www.globalquakemodel.org/tools-products" target="_blank">About</a> |
          <a href="{% url 'terms' %}">Terms of Use</a> |
          <a href="http://www.globalquakemodel.org/contact-us" target="_blank">Contact us</a> |
          <a href="https://groups.google.com/forum/#%21forum/openquake-users" target="_blank">Feedback</a>
        </div>
        <div class="pull-right">
          {% trans "Powered by" %} <a href="http://geonode.org" target="_blank">{% trans "GeoNode" %}</a></em>
        </div> <!-- /.pull-right -->
      </div> <!-- /.container -->
    </footer>
