{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    {% block head %}
      <link href="/static/geonode/css/base.css" rel="stylesheet" />
      <link href='/static/geonode/font/lato_font.css' rel='stylesheet' type='text/css' />
      <link href="/static/geonode/css/ext-compatibility.css" rel="stylesheet" />
      <link href="/static/lib/css/assets.min.css" rel="stylesheet"/>
      <link href="/static/css/oqplatform.css" rel="stylesheet"/>
      <link href="/static/img/favicon.png" rel="shortcut icon" />
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="{% block body_class %}{% endblock %}">

    {% block header %}
    <div id="header" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <section>
        <div class="container">
          <div class="row">
            <div class="span3">
              <a href="{% url "home" %}"><span class="nav-logo"></span></a>
            </div>
            <div class="span10">
              <nav class="main-nav">
                <ul>
                  {% block extra-nav %}
                  {% include "includes/extra-nav.html" %}
                  {% endblock %}
                </ul>
              </nav>
            </div> <!-- ./span10 -->
            <div id="gem-right-logo">
              <a href="{% url "home" %}"><span class="nav-logo nav-logo-gem"></span></a>
            </div>
          </div>
        </div> <!-- /.container -->
        </section>
      </div> <!-- /.navbar-inner -->
    </div> <!-- /.navbar navbar-fixed-top -->
    {% endblock header %}

    {% block middle %}
    <div class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div id="description"><h3>Internal Server Error</h3></div>
            There was a problem loading this page. Please contact us at <a href="mailto:info@openquake.org">info@openquake.org</a>.
          </div>
        </div>
      </div> <!-- /.container -->
    </div>
    {% endblock middle %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock footer %}
  </body>
</html>
