{% load i18n avatar_tags announcements_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    {% block head %}
      <link href="{{ STATIC_URL }}geonode/css/base.css" rel="stylesheet" />
      <link href='{{ STATIC_URL }}geonode/font/lato_font.css' rel='stylesheet' type='text/css' />
      <link href="{{ STATIC_URL }}geonode/css/ext-compatibility.css" rel="stylesheet" />
      {% if DEBUG_STATIC %}
      <link href="{{ STATIC_URL }}lib/css/jquery.dataTables.css" rel="stylesheet" />
      <link href="{{ STATIC_URL }}lib/css/select2.css" rel="stylesheet"/>
      {% else %}
      <link href="{{ STATIC_URL }}lib/css/assets.min.css" rel="stylesheet"/>
      {% endif %}
      {% block extra_head %}
      {% endblock %}
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block header %}
    {% include "includes/header.html" %}
    {% endblock header %}

    {% block middle %}
    {% announcements as site_wide_announcements %}
    <div class="content-wrap">
      {% if site_wide_announcements %}
      <div id="site_wide_announcements">
        {% for announcement in site_wide_announcements %}
        <div class="alert alert-block announcement">
          <a type="button" class="close" data-dismiss="alert" data-dismiss-url="{% url "announcements_dismiss" announcement.pk %}" href="#">×</a>
          <h4><a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a></h4>
          <p><small><em>{{ announcement.creation_date }}</em></small></p>
          <div>{{ announcement.content }}</div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="container">
        <div class="row">
        {% block body_outer %}
          <div class="span8">
          {% block body %}{% endblock %}
          </div>
          <div class="span4">
          {% block sidebar %}{% endblock %}
          </div>
        {% endblock %}
        </div>
      </div> <!-- /.container -->
    </div>
    {% endblock middle %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock footer %}

    {% if DEBUG_STATIC %}
    <script src="{{ STATIC_URL }}lib/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.timeago.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.ajaxprogress.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.ajaxQueue.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery-ui.custom.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.raty.js"></script>
    <script src="{{ STATIC_URL }}lib/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}lib/js/json2.js"></script>
    <script src="{{ STATIC_URL }}lib/js/select2.js"></script>
    <script src="{{ STATIC_URL }}lib/js/waypoints.js"></script>
    {% else %}
    <script src="{{ STATIC_URL }}lib/js/assets.min.js"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}geonode/js/utils/utils.js"></script>
    <script src="{{ STATIC_URL }}geonode/js/base/base.js"></script>
    <script>
      $("#search").select2({
        minimumInputLength: 1,
        placeholder: 'Search...',
        width: 'element',
        ajax: {
          url: '{% url "search_api" %}',
          data: function(term,page){
            page = (page - 1) * 10;
            return {
              type: 'all',
              limit: 10,
              sort: 'none',
              start: page,
              q: term.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '')
            }
          },
          results: function(data, page) {
            var more = (page * 10) < data.total;
            return {
              results: $.map(data.results,function(object){
                return {id: object.id, text: object.title, url: object.detail };
              }),
              more: more
            }
          }
        },
        createSearchChoice:function(term, data) {
            term = term.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
            if ($(data).filter(function() {
                return this.text.localeCompare(term)===0; }).length===0) {
                    return {id:term, text:term};
                    }
        },
        formatSelection: function(item){
          if(item.url != undefined) {
            window.location.href = item.url;
          } else {
            $('#search').val(item.text);
            $('#search').parent().submit();
          };
        }
      });
    </script>

    {% block extra_script %}{% endblock extra_script %}

    <script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    <script type="text/javascript" src="{% url "lang" %}"></script>
    <style type="text/css">
      .select2-drop{
        color: black;
      }
    </style>
  </body>
</html>
