{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} Calculate - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
{% endblock extra_head %}

{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
          <!-- Subtemplates can add context-sensitive components to the page-->
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "OpenQuake Calculate" %}</h1>
          <br/>
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
        {% block oq_body_content %}
          <div class="oq-intro">
            <!-- Main page content goes here -->

            <b>The OpenQuake Engine:</b><br/>
            Seismic hazard and risk calculations can be performed using the OpenQuake engine.
            <ul>
                <li><a href="https://github.com/gem/oq-engine#openquake-engine" target="_blank">learn more</a> about the Engine and it's calculators</li>
                <li>
                  read the <a href="https://github.com/GEMScienceTools/oq-engine-docs/raw/engine-2.0/oq-manual.pdf" target="_blank">OpenQuake Engine manual</a>
                </li>
            </ul>

            <b>Calculate in the cloud:</b>
              <ul>
                <li>Get an <a href="http://www.globalquakemodel.org/gem/terms/oats/" target="_blank">OATS</a> account to begin using the OpenQuake Engine. An OATS account will allow you to run calculations through a web interface, and the calcualtions and data are in the cloud</li>
              </ul>
            <b>Calculate on a desktop computer or server:</b>
              <ul>
                <li><a href="https://github.com/gem/oq-engine#installation" target="_blank">Download the OpenQuake Engine</a></li>
              </ul>

            <b>Libraries:</b>
              <ul>
                <li>
                  <a href="https://github.com/gem/oq-hazardlib" target="_blank">oq-hazardlib</a> - Openquake Hazard Library
                </li>
              </ul>

            <b>Modelling Tools:</b>
              <ul>
                <li>
                  <a href="https://github.com/GEMScienceTools/hmtk" target="_blank">Hazard Modeller's Toolkit</a> - A suite of tools used to create PSHA input models, mostly developed by GEM scientists
                </li>
                <li>
                  <a href="{% url 'ipt:home' %}">Risk Input Preparation Toolkit</a> - Tools used to create exposure, fragility and vulnerability risk input models.
                </li>
                <li>
                  <a href="https://github.com/GEMScienceTools/gmpe-smtk" target="_blank">GMPE Strong Motion Modeller's Toolkit</a> - Python and OpenQuake-based Toolkit for Analysis of Strong Motions and Interpretation of GMPEs
                </li>
                <li>
                  <a href="https://github.com/GEMScienceTools/rmtk">The Risk Modeller’s Toolkit (RMTK)</a> is a library of Python scripts and IPython notebooks that provide engineers with tools to create exposure, fragility, and vulnerability input models required for running seismic risk calculations using the OpenQuake engine.  The RMTK is currently under development.
                </li>
              </ul>
            <b>Social Vulnerability and Integrated Risk</b><br/>
            Integrated Risk calculations, combining Social and Economic Vulnerability with Physical Risk can be performed using GEM's <a href="http://plugins.qgis.org/plugins/svir/">QGIS plugin</a>.
              <ul>
                <li>
                  To install the plugin in QGIS simply search for 'SVIR' in the QGIS Plugin Manager and then click "Install Plugin".
                </li>
              </ul>

            <b>Supporting material:</b>
              <ul>
                <li>
                  GEM respository for <a href="https://github.com/GEMScienceTools/notebooks" target="_blank">ipython notebook examples</a> demonstrating use of GEM scientific libraries (e.g., oq-hazardlib, hmtk etc.)
                </li>
                <li>
                  GEM respository for <a href="https://github.com/GEMScienceTools/nrml_converters" target="_blank">NRML converters</a>
                </li>
              </ul>
            <br/><br/>
          </div>
        {% endblock oq_body_content %}
      </div>
      <div id="oq-body-sidebar">
        {% include 'includes/sidebar.html' %}
      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_script %}
    {{block.super}}
    {% include 'search_scripts.html' %}
{% endblock extra_script %}
