{% extends "leaflet_base.html" %}

{% block title %}
Calculate - {{block.super}}
{% endblock title %}

{% block oq_context_ribbon %}
    {{block.super}}
    <button id="button-new-hazard-calc" class="oq-context-control" type="button">New (Hazard)</button>
    <button id="button-new-risk-calc" class="oq-context-control" type="button">New (Risk)</button>
    <button id="button-open-calc" class="oq-context-control" type="button">Open...</button>
{% endblock oq_context_ribbon %}

{% block body_outer %}
    {{block.super}}
    <!-- Placeholder div for jquery-ui dialogs,
         for browsing or running calculations -->
    <div id="oq-calc-dialog"></div>
{% endblock body_outer %}

{% block oq_body_sidebar %}
    {{block.super}}
{% endblock oq_body_sidebar %}

{% block extra_script %}
    {{block.super}}
    <script src="{{ STATIC_URL }}js/calculate.js"></script>
{% endblock extra_script %}
