{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} Explore - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
{% endblock extra_head %}

{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "OpenQuake Explore" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
        {% block oq_body_content %}
          <div class="oq-intro">
            <!-- Main page content goes here -->
            <b>Seismic Hazard Data Sets and Models:</b>
            <ul>
              <li><a href="/maps/23">Global Instrumental Earthquake Catalogue (1900 - 2009)</a></li>
              <li><a href="/maps/24">Global Historical Earthquake Catalogue and Archive (1000-1903)</a></li>
              <li><a href="/maps/25">Homogeneous Active Faults</a></li>
              <li><a href="/maps/26">Geodetic Strain Rate Model</a></li>
              <li><a href="{% url 'hrde' %}">Explore Hazard Models</a> Hazard input models and results obtained using recent models that GEM adapted to the OpenQuake-engine - more info available here: <a href="https://hazardwiki.openquake.org/">https://hazardwiki.openquake.org/</a></li>
            </ul>

            <b>Physical Risk Data Sets:</b>
            <ul>
              <li><a href="/ecd/eventsmap/?&amp;f_b=False&amp;f_c=False&amp;f_i=False&amp;f_p=False&amp;f_s=False&amp;all=True">Earthquake Consequences Database</a></li>
              <li><a href="{% url 'exposure' %}">Exposure Export</a></li>
              <li><a href="{% url 'hazus' %}">HAZUS Building Fractions </a></li>
              <li><a href="{% url 'vulnerability.views.list' %}">Physical Vulnerability</a></li>
            </ul>

            <b>Social Vulnerability and Integrated Risk Data Sets:</b>
            <ul>
              <li><a href="{% url 'grv' %}">Social Vulnerability Global Risk Viewer</a></li>
             {% if is_gem_experimental %}
              <li><a href="{% url 'irv' %}">Social Vulnerability Integrated Risk Viewer</a></li>
             {% endif %}
            </ul>

            <b>GEM Building Taxonomy Tools:</b>
            <ul>
              <li><a href="http://taxtweb.openquake.org/" target="_blank">TaxTweb</a> Online graphical tool for editing GEM Taxonomy strings</li>
            </ul>

            <b>Explore:</b>
            <ul>
              <li><a href="{% url 'maps_browse' %}">Maps</a></li>
              <li><a href="{% url 'layer_browse' %}">Individual Datasets (Layers)</a></li>
              <li><a href="{% url 'documents_browse' %}">Documents</a></li>
              <li><a href="{% url 'profile_browse' %}">People</a></li>
            </ul>

          </div>
        {% endblock oq_body_content %}
      </div>
      <div id="oq-body-sidebar">
        {% include 'includes/sidebar.html' %}
      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_script %}
    {{block.super}}
    {% include 'search_scripts.html' %}
    <script>
        help=document.getElementById("help_url");
        if(typeof help !== "undefined") { help.href+='/explore/'; }
    </script>
{% endblock extra_script %}
