{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} Explore - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
{% endblock extra_head %}

{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
          <!-- Subtemplates can add context-sensitive components to the page-->
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "OpenQuake Explore" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
        {% block oq_body_content %}
          <div class="oq-intro">
            <!-- Main page content goes here -->
            <b>Data Sets:</b>
            <ul>
              <li><a href="/ecd/eventsmap/?&f_b=False&f_c=False&f_i=False&f_p=False&f_s=False&all=True">Consequences Database</a></li>
              <li><a href="{% url 'exposure' %}">Exposure Exporter</a></li>
              <li><a href="{% url 'hazus' %}">HAZUS Building Fractions </a></li>
              <li><a href="{% url 'grv_viewer' %}">Social Vulnerability Global Risk Viewer</a></li>
{% if is_gem_experimental %}<li><a href="{% url 'irv_viewer' %}">Social Vulnerability Integrated Risk Viewer</a></li>{% endif %}
              <li><a href="/vulnerability/list/">Vulnerability</a></li>
              <li><a href="/maps/23">Instrumental Seismic Catalogue [1900 - 2009]</a></li>
              <li><a href="/maps/24">Global Historic Catalogue</a></li>
              <li><a href="/maps/25">Global Active Faults</a></li>
              <li><a href="/maps/26">Geodetic Strain Rate</a></li>
            </ul>

            <b>Explore:</b>
            <ul>
              <li><a href="{% url 'documents_browse' %}">Documents</a></li>
              <li><a href="{% url "layer_browse" %}">Layers</a></li>
              <li><a href="{% url "maps_browse" %}">Maps</a></li>
              <li><a href="{% url 'hrde' %}">Hazard and Risk Data Explorer</a></li>
              <li><a href="{% url 'profile_browse' %}">People</a></li>
            </ul>


            <b>GEM Building Taxonomy Tool:</b>
            <ul>
              <li><a href="https://github.com/GEMScienceTools/TaxT">TaxT</a> Graphical tool for editing GEM Taxonomy strings, Windows only</li>
              <li><a href="http://taxtweb.openquake.org/">TaxTweb</a> Graphical tool for editing GEM Taxonomy strings, web version</li>
            </ul>
          </div>
        {% endblock oq_body_content %}
      </div>
      <div id="oq-body-sidebar">
        {% include 'includes/sidebar.html' %}
      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_script %}
    {{block.super}}
    {% include 'search_scripts.html' %}
    <script>
        help=document.getElementById("help_url");
        if(typeof help !== "undefined") { help.href+='/explore/'; }
    </script>
{% endblock extra_script %}
