<li class="oqp-menu-item"><a href="{% url 'home' %}">Home</a></li>
<!-- TODO place this back when the customizable categories can be implemented
<li class="oqp-menu-item"><a href="{% url 'layer_browse' %}">Data</a></li>
-->
<li class="oqp-menu-item"><a href="{% url 'temp_data' %}">Data</a></li>

<!-- TODO place this back when the customizable categories can be implemented
<li class="oqp-menu-item"><a href="{% url 'maps_browse' %}">Maps</a></li>
-->
<li class="oqp-menu-item"><a href="{% url 'temp_maps' %}">Maps</a></li>

<li class="oqp-menu-item"><a href="{% url 'tools' %}">Tools</a></li>
<li class="oqp-menu-item"><a href="{% url 'profile_browse' %}">People</a></li>
<li class="oqp-menu-item"><a href="{% url 'documents_browse' %}">Documents</a></li>
