{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}
{% load oqp_tags %}


{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
{% endblock extra_head %}

{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
          <!-- Subtemplates can add context-sensitive components to the page-->
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "The OpenQuake Platform" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
        {% block oq_body_content %}
          <div class="oq-intro">
            <!-- Main page content goes here -->
            Welcome to the OpenQuake Platform. This web-based risk assessment platform offers an interactive environment for modeling, viewing, exploring, and managing earthquake risk. User can access, manipulate, share and add data, models and tools for integrated assessment of earthquake risk.

            <br/><br/>

            This platform has been created by the <a href="http://www.globalquakemodel.org/">GEM Foundation</a>.<br><br>

      {% if user.is_authenticated %}
      {% block mainbody %}
      <div class="row">
        <div class="span8">
            <section class="widget list latest-maps paginate-contents">
              <h2>{% trans "Latest Maps" %}</h2>
              {% latest_maps as latest_maps %}
              {% for map in latest_maps %}
                {% include "maps/_map_list_item.html" %}
              {% endfor %}
            </section>
        </div>
      </div>
      {% endblock %}
      {% endif %}

      </div>
        {% endblock oq_body_content %}
      </div>
      <div id="oq-body-sidebar">
        {% block oq_body_sidebar %}
          <div class="oq-btns">
            <img src="{{ STATIC_URL }}img/OQ-logo-blue.png"><br/><br/>
            <a class="btn btn-large" href="{% url "layer_browse" %}">
              {% trans "Explore Layers" %}
            </a>
            <a class="btn btn-large" href="{% url "maps_browse" %}">
              {% trans "Explore Maps" %}
            </a>
          </div>
        {% endblock oq_body_sidebar %}
      </div>
    </div>
  </div>
{% endblock body %}

