{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
{% endblock extra_head %}

{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
          <!-- Subtemplates can add context-sensitive components to the page-->
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "The OpenQuake Platform" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
        {% block oq_body_content %}
          <div class="oq-intro">
            <!-- Main page content goes here -->
            Welcome to the OpenQuake Platform. This web-based risk assessment platform offers an interactive environment for modeling, viewing, exploring, and managing earthquake risk. User can access, manipulate, share and add data, models and tools for integrated assessment of earthquake risk.
            
            <br/><br/>

            <img src="http://www.globalquakemodel.org/media/cms_page_media/15/OQ-workflows_1.png.1280x1024_q85.jpg" width="620px">
            This platform has been created by the <a href="http://www.globalquakemodel.org/">GEM Foundation</a>.<br><br>


  {% block mainbody %}
  <div class="container">
    <div class="row">
    {% with facet_type='home' %}
      <div class="col-md-4">
        <p class="text-center"><i class="fa fa-square-o fa-5x rotate-45"></i></p>
        <h2 class="text-center">{{ facets.layer|default:"No" }} Layer{{ facets.layer|pluralize }}</h2>

        <p class="text-center">{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p> 
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore Layers" %} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><i class="fa fa-map-marker fa-5x"></i></p>
        <h2 class="text-center">{{ facets.map|default:"No" }} Map{{ facets.map|pluralize }}</h2>
        <p class="text-center">{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
        <p class="text-center"><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><i class="fa fa-cloud-upload fa-5x"></i></p>
        <h2 class="text-center">{{ facets.user|default:"No" }} User{{ facets.user|pluralize }}</h2>
        <p class="text-center">{% trans "GeoNode allows registered users to easily upload geospatial data in several formats including shapefile and GeoTiff." %}</p>
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Share data" %} &raquo;</a></p>
      </div>
    {% endwith %}
    </div>
  </div>
  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  {% endverbatim %}
  {% endblock %}




          </div>
        {% endblock oq_body_content %}
      </div>
      <div id="oq-body-sidebar">
        {% block oq_body_sidebar %}
          <div class="oq-btns">
            <img src="static/img/OQ-logo-blue.png"><br/><br/>
            <a class="btn btn-large" href="{% url "layer_browse" %}">
              {% trans "Explore Layers" %}
            </a>
            <a class="btn btn-large" href="{% url "maps_browse" %}">
              {% trans "Explore Maps" %}
            </a>
          </div>
        {% endblock oq_body_sidebar %}
      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_script %}
    {{block.super}}
    {% include 'search_scripts.html' %}
{% endblock extra_script %}
