{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} Explore - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/handsontable.full.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/input_model_prep.css" rel="stylesheet"/>
{% endblock extra_head %}


{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "OpenQuake Input Model Thingy" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
      <h1>Exposure</h1>
      <br>
      <div class="alert alert-info" role="alert">1. Use this form to modify the table header.</div>
        <div id="exposureForm">
          <div id="cost">
            Define Cost:<br>
            <select id="defineCostSelect">
              <option value="none">None</option>
              <option value="aggregated">Aggregated</option>
              <option value="perBuilding">Per Building</option>
              <option value="perArea">Per Area</option>
            </select>
          </div>
          <div id="perArea">
            Per Area:<br>
            <select id="perAreaSelect">
              <option value="aggregated">Aggregated</option>
              <option value="perArea">Per Area</option>
            </select>
          </div>
          <div id="limit">
            Limit:<br>
            <select id="limitSelect">
              <option value="none">None</option>
              <option value="absolute">Absolute</option>
              <option value="relative">Relative</option>
            </select>
          </div>
          <div id="deductible">
            Deductible:<br>
            <select id="deductibleSelect">
              <option value="none">None</option>
              <option value="absolute">Absolute</option>
              <option value="relative">Relative</option>
            </select>
          </div>
          <div id="econ">
            <div id="economicCheckBoxes">
            Economic value:<br>
              <input id="structuralChbx" type="checkbox" value="structural"> Structural Cost
              <br>
              <div id="retrofittingSelect">
                Retrofitting Cost:<br>
                <input id="retroChbx" type="checkbox" value="retrofitting"> Retrofitting
                <br>
              </div>
              <input type="checkbox" value="non_structural"> Non-Structural Cost
              <br>
              <input type="checkbox" value="contents"> Contents Cost
              <br>
              <input type="checkbox" value="business"> Business Int Cost
              <br>
            </div>
          </div>
          <div id="occupantsCheckBoxes">
            <br>
            Occupants:<br>
            <input type="checkbox" value="day"> Day
            <br>
            <input type="checkbox" value="night"> Night
            <br>
            <input type="checkbox" value="transit"> Transit
          </div>
          <br>
        </div>
        <div class="alert alert-info" role="alert">2. Copy and paste values from your spreadsheet into the table bellow.</div>
        <div id="table"></div>
        <br>
        <button id="saveBtn" type="button" style="display:none;" class="btn btn-primary">Convert to NRML</button>
        <br>
        <div id="outputDiv">
          <div class="alert alert-info" role="alert">3. Copy and paste the NRML file for use in the OpenQuake Engine.</div>
          <button id="selectAll" type="button" class="btn btn-primary">Select</button>
          <br>
          <div id="outPut" style="width:500px;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_script %}
    {{block.super}}
    {% include 'search_scripts.html' %}
    <script>
        help=document.getElementById("help_url");
        if(typeof help !== "undefined") { help.href+='/explore/'; }
    </script>
    <script src="{{ STATIC_URL }}js/handsontable.full.js"></script>
    <script src="{{ STATIC_URL }}js/input_model_fragility.js"></script>
{% endblock extra_script %}
