{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} Explore - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/handsontable.full.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/input_model_prep.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/bootstrap-v3.3.5.css" rel="stylesheet"/>
{% endblock extra_head %}


{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "OpenQuake Input Model Thingy" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
      <h1>Fragility</h1>
      <br>
      <div class="alert alert-info" role="alert">1. Use this form to initialize the fragility model.</div>
        <div id="fragilityForm">
          <div>
            Function Id: <br>
            <input id="functionId" type="text">
          </div>
          <div>
            Asset Category:<br>
            <input id="assetCategory" type="text" placeholder="buildings">
          </div>
          <div>
            Description:<br>
            <textarea id="functionDescription" rows="4" cols="50"></textarea>
          </div>
          <div>
            Limit States (Comma Seperated):<br>
            <textarea id="limitStates" rows="4" cols="50">slight damage, moderate damage, collapse...</textarea>
          </div>
        </div>
        <br>
        <div class="alert alert-info" role="alert">2. Here one can create fragility functions sets (ffs). First use the 'Add ffs' button to generate as many ffs tables as needed. Next populate the table and form for each ffs</div>
        <button id="addFfsDiscrete" type="button" class="btn btn-lg">Add Discrete ffs</button>
        <button id="addFfsContinuous" type="button" class="btn btn-lg">Add Continuous ffs</button>
        <br><br>
        <div id="tables"></div>
        <br>
        <div>
          <button id="saveBtn" type="button" style="display:none;" class="btn btn-primary">Convert to NRML</button>
        </div>
        <br>
        <div id="outputDiv">
          <div class="alert alert-info" role="alert">3. Copy and paste the NRML file for use in the OpenQuake Engine.</div>
          <button id="selectAll" type="button" class="btn btn-primary">Select</button>
          <br>
          <div id="outPut" style="width:500px;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_script %}
    {{block.super}}
    {% include 'search_scripts.html' %}
    <script>
        help=document.getElementById("help_url");
        if(typeof help !== "undefined") { help.href+='/explore/'; }
    </script>
    <script src="{{ STATIC_URL }}js/handsontable.full.js"></script>
    <script src="{{ STATIC_URL }}js/input_model_fragility.js"></script>
{% endblock extra_script %}
