{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} Explore - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/handsontable.full.css" rel="stylesheet"/>
{% endblock extra_head %}


{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "OpenQuake Input Model Thingy" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
      <h3>Exposure</h3>
        <form id="exposureForm" >
          Define Cost:<br>
          <select id="defineCostSelect">
            <option value="none">None</option>
            <option value="aggregated">Aggregated</option>
            <option value="perBuilding">Per Building</option>
            <option value="perArea">Per Area</option>
          </select>
          <br>
          <div id="perArea">
            Per Area:<br>
            <select id="perAreaSelect">
              <option value="aggregated">Aggregated</option>
              <option value="perArea">Per Area</option>
            </select>
            <br>
          </div>
          Economic value:<br>
          <div id="economicCheckBoxes">
            <input type="checkbox" value="structural"> Structural Cost
            <br>
            <input type="checkbox" value="non_structural"> Non-Structural Cost
            <br>
            <input type="checkbox" value="contents"> Contents Cost
            <br>
            <input type="checkbox" value="business"> Business Int Cost
          </div>
          <br>
          Occupants:<br>
          <div id="occupantsCheckBoxes">
            <input type="checkbox" value="day"> Day
            <br>
            <input type="checkbox" value="night"> Night
            <br>
            <input type="checkbox" value="transit"> Transit
          </div>
          <br>
          Retrofitting Cost:<br>
          <div id="retrofittingSelect">
            <input type="checkbox" value="retrofitting"> Retrofitting
          </div>
          <br>
          Limit:<br>
          <select id="limitSelect">
            <option value="none">None</option>
            <option value="absolute">Absolute</option>
            <option value="relative">Relative</option>
          </select>
          <br>
          Deductible:<br>
          <select id="deductibleSelect">
            <option value="none">None</option>
            <option value="absolute">Absolute</option>
            <option value="relative">Relative</option>
          </select>
          <br>
        </form>
        <div id="btnDiv">
          <button id="updateBtn" type="button" style="display:none;" class="btn btn-primary">Create/Update Table</button>
        </div>
        <br>
        <div id="hot"></div>

      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_script %}
    {{block.super}}
    {% include 'search_scripts.html' %}
    <script>
        help=document.getElementById("help_url");
        if(typeof help !== "undefined") { help.href+='/explore/'; }
    </script>
    <script src="{{ STATIC_URL }}js/handsontable.full.js"></script>
    <script src="{{ STATIC_URL }}js/input-model-prep.js"></script>
{% endblock extra_script %}
