{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} Share - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
{% endblock extra_head %}

{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
          <!-- Subtemplates can add context-sensitive components to the page-->
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "OpenQuake Share" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
        {% block oq_body_content %}
          <div class="oq-intro">
            <!-- Main page content goes here -->

            The OpenQuake Platform includes a number of tools allowing users to contribute to the existing datasets.
            <br/><br/>

            <b>Online Data Capture and data Collection</b>
            <ul>
              <li>
                <a href="{% url 'faulted_earth' %}">The Faulted Earth capture tool</a> allows users to share information about Active Faults.  Please read the <a href="http://storage.globalquakemodel.org/media/storage/Fearth_D4_Guidelines_v2_June2013.pdf" target="_blank">guidelines</a> before using the tool.
              </li>
              <li>
                <a href="{% url 'vulnerability.views.list' %}">The Physical Vulnerability suite</a> allows users to explore and contribute to a comprehensive global vulnerability database that includes fragility, vulnerability, damage-to-loss functions and capacity curves for different types of structure.
              </li>
              <li>
                <a href="{% url 'building_class:home' %}">The Building Classification Survey tool</a> allows users to share information regarding the building stock of a given region.
              </li>
            </ul>

            <b>Offline Inventory Capture Tools</b>
            <br/>
            The following tools were developed as part of the <a href="http://storage.globalquakemodel.org/what/physical-integrated-risk/inventory-capture-tools/">Inventory Data Capture Tools</a> global component:
            <ul>
              <li>
                A Building Data Capture application for Android phone or tablet is available for installation via <a href="https://play.google.com/store/apps/details?id=org.globalquakemodel.org.idctdo">Google Play</a>.
              </li>
              <li>
                <a href="http://storage.globalquakemodel.org/resources/use-and-share/tools-apps/">Spatial Inventory Data Development (SIDD) Tool</a>
              </li>
            </ul>

            <b>GEM Building Taxonomy Tools</b>
            <br/>
            <a href="http://storage.globalquakemodel.org/what/physical-integrated-risk/building-taxonomy/">The GEM Building Taxonomy</a> is used in a number of GEM databases to classify building types.
            <ul>
              <li><a href="http://taxtweb.openquake.org/">TaxTweb</a> Graphical tool for editing GEM Taxonomy strings, web version</li>
              <li><a href="https://github.com/GEMScienceTools/TaxT">TaxT</a> Graphical tool for editing GEM Taxonomy strings, Windows only</li>
            </ul>

            <b>Upload:</b>
            <br/>
            The OpenQuake platform also allows users to upload arbitrary documents and GIS map layers:
            <ul>
              <li><a href="{% url "document_upload" %}">Documents</a></li>
              <li><a href="{% url "layer_upload" %}">Layers</a></li>
            </ul>
          </div>
        {% endblock oq_body_content %}
      </div>
      <div id="oq-body-sidebar">
        {% include 'includes/sidebar.html' %}
      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_script %}
    {{block.super}}
    {% include 'search_scripts.html' %}
{% endblock extra_script %}
