{% extends "base.html" %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}


{% block header %}
<div id="header-wrapper">
  {{block.super}}
  <div class="navbar navbar-fixed-top-second">
    <div class="navbar-inner">
      <div class="container" style="width: 940px;">
        <div class="row nav-box">
          <div class="span10">
            <nav class="main-nav">
              <ul>
                <li><a href="{% url 'isc_viewer' %}">ISC</a></li>
                <li><a href="{% url 'ghec_viewer' %}">GHEC</a></li>
                <li><a href="{% url 'geodetic' %}">Geodetic</a></li>
                <li><a href="{% url 'gaf_viewer' %}">GAF</a></li>
                <li><a href="{% url 'faulted_earth' %}">FE Capture</a></li>
                <li><a href="{% url 'exposure' %}">Exposure</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  <div id="footer">{{block.super}}</div>
{% endblock %}
