{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock title %}

{% block extra_head %}
    {{block.super}}
    <link href="{{ STATIC_URL }}css/oqplatform_index.css" rel="stylesheet"/>
{% endblock extra_head %}

{% block body %}
  <div class="span12">
    <div class="hero-unit">
      <div id="oq-context-ribbon">
        {% block oq_context_ribbon %}
          <!-- Subtemplates can add context-sensitive components to the page-->
        {% endblock oq_context_ribbon %}
      </div>
      <div id="oq-body-heading">
        {% block oq_body_heading %}
          <h1>{% trans "OpenQuake Tools" %}</h1>
          <br />
        {% endblock oq_body_heading %}
      </div>
      <div id="oq-body-content">
        {% block oq_body_content %}
          <div class="oq-intro">
            <!-- Main page content goes here -->
            The OpenQuake Platform Tools are ...<br/><br/>

            <h2><img src="../static/img/OQ-Suite-View.png" width="120px">SVIR</h2>
            <a href="{% url 'svir_viewer' %}">SVIR Viewer</a></li> <br/>
            In additon there are offline QGIS tools...
            <br/><br/>

            <h2><img src="../static/img/OQ-Suite-Capture.png" width="120px">Faulted Earth upload tool</h2>
            <a href="{% url 'faulted_earth' %}">Faulted Earth</a></li> <br/> Some description of the faulted Earth tool...   <br/><br/>

            <h2><img src="../static/img/OQ-Suite-Explore.png" width="120px">Exposure Export</h2>
            <a href="{% url 'exposure' %}">Exposure Export</a></li> <br/>

            Some description...<br/><br/>

            <h2><img src="../static/img/OQ-Suite-Calculate.png" width="120px">Calculate</h2>
            <a href="{% url 'calculate' %}">Calculate</a></li> <br/>

            Powered by the OpenQuake Engine, users are be able to carry out seismic hazard, physical and integrated risk assessment in a variety of ways.
            <br/><br/>

            <h2><img src="../static/img/OQ-Suite-Capture.png" width="120px">Consequences</h2>
            <a href="/ecd/eventsmap/?&f_b=False&f_c=False&f_i=False&f_p=False&f_s=False&all=True">Consequences</a> <br/>
            
            Consequences Database ... <br/><br/>

            <h2><img src="../static/img/OQ-Suite-Capture.png" width="120px">Vulnerability</h2>
            <a href="/vulnerability/admin/vulnerability/generalinformation/">Vulnerability Database</a> <br/>

            Vulnerability Database ... <br/><br/>

            <br/><br>
            <h2><img src="../static/img/OQ-Suite-Capture.png" width="120px">Download software tools</h2>

            <a href="{% url 'tools' %}">oq-engine</a></li> <br/>
            <a href="{% url 'tools' %}">oq- for desktop</a></li> <br/>
            <a href="{% url 'tools' %}">IDCT 4 Win, SIDD</a></li> <br/>
            <a href="{% url 'tools' %}">TAXT</a></li> <br/>
            <a href="{% url 'tools' %}">oq-platform</a></li> <br/>
            <a href="{% url 'tools' %}">Link to Google Play for IDCT Android</a></li> <br/>
            <a href="{% url 'tools' %}">Links/Instructions for installing QGIS plugins: BREC, SVIR, Exposure...</a></li> <br/>

          <br/><br/>

            <br/><br>
            <!-- Nice big OpenQuake logo here -->
            <!-- calculate, share, explore -->
            <img src="../static/img/OQ-header-Logo.png">
            <br/>
          </div>
        {% endblock oq_body_content %}
      </div>
      <div id="oq-body-sidebar">
        {% block oq_body_sidebar %}
          <div class="oq-btns">
            <img src="../static/img/OQ-logo-blue.png"><br/><br/>
            <a class="btn btn-large" href="{% url "layer_browse" %}">
              {% trans "Explore Layers" %}
            </a>
            <a class="btn btn-large" href="{% url "maps_browse" %}">
              {% trans "Explore Maps" %}
            </a>
            <img src="../static/img/OQ-screens.png" width="195px">
          </div>
        {% endblock oq_body_sidebar %}
      </div>
    </div>
  </div>
{% endblock body %}

{% block extra_script %}
    {{block.super}}
    {% include 'search_scripts.html' %}
{% endblock extra_script %}
