<!-- formview as table tag start -->
<div class="formviewwithlabels {{ pageclass }}" >
    <table class="formview">
    {% for record in render_structure %}
    {% for key,value in record.items  %}
    <tbody class="cell">
    {% for html_definition in value %}
        <tr><th class="label">{% for colheading in columnheadings_list %}{% ifequal forloop.counter forloop.parentloop.counter %}{{colheading}}{% endifequal %}{% endfor %}</th>
        <td class="field">
            <{{ html_definition.tag }}{% for key,value in html_definition.attributes.items %} {{ key }}="{{ value }}"{% endfor %}>{{ html_definition.value|safe }}</{{ html_definition.tag }}>
        </td></tr>{% endfor %}
    </tbody>{% endfor %}{% endfor %}
    </table>
</div>
<!-- formview tag end -->