<!-- formview tag start -->
<div class="formview {{ pageclass }}" >
    <div class="container">
    {% for record in render_structure %}
    {% for key,value in record.items  %}
    <div class="cell">
    {% for html_definition in value %}
        <div class="field">
            <{{ html_definition.tag }}{% for key,value in html_definition.attributes.items %} {{ key }}="{{ value }}"{% endfor %}>{{ html_definition.value|safe }}</{{ html_definition.tag }}>
        </div>{% endfor %}
    </div>{% endfor %}{% endfor %}
    </div>
</div>
<!-- formview tag end -->