<!-- weblinklist tag start -->
<div class="weblinklist {{ pageclass }}" >
    <div class="container"><ul>
    {% for record in render_structure %}
    {% for key,value in record.items  %}
    <li class="cell">
    {% for html_definition in value %}
        {% if html_definition.columnname != "url" %}
        <span class="field">
            <{{ html_definition.tag }}{% for key,value in html_definition.attributes.items %} {{ key }}="{{ value }}"{% endfor %}>{{ html_definition.value }}</{{ html_definition.tag }}>
        </span>
        {% else %}
        <a target="resources" href="{{ html_definition.value }}">
        {% endif %}
    {% endfor %}
    </a></li>{% endfor %}{% endfor %}
    </ul></div>
</div>
<!-- weblinklist tag end -->