.exposure_export_form {
    padding-left: 50px;
}

#radioCountryList {
	float: left;
	width: 30%;
}

#radioSubRegionList {
	float: left;
	width: 30%;
}

#exposureExportForm {
	float: left;
	width: 30%;
}

.ng-table {
    border: 1px solid #000;
}

.ng-table-rowselected tr {
    cursor: pointer;
}

.ui-widget-overlay.custom-style
{
    background-color: black;
    background-image: none;
    opacity: 0.5;
    z-index: 1040;
}

#cover {
	text-align: center;
    background: no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
}

label {
    display: inline !important
}

.leaflet-control-layers-overlays label {
    display: block !important
}

/*  Modal stuff */
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

/* TEMP */
#map {
    height: 27px;
    position: fixed;
    margin-top: 100px;
    }
