.exposure_export_form {
    padding-left: 50px;
}

#radioCountryList {
	float: left;
	width: 30%;
}

#radioSubRegionList {
	float: left;
	width: 30%;
}

#exposureExportForm {
	float: left;
	width: 30%;
}

.ng-table {
    border: 1px solid #000;
}

