.exposure_export_form {
    padding-left: 50px;
}

#radioCountryList {
	float: left;
	width: 30%;
}

#radioSubRegionList {
	float: left;
	width: 30%;
}

#exposureExportForm {
	float: left;
	width: 30%;
}

#drawBoundingMsg {
    padding-left: 50px;
}

.ng-table {
    border: 1px solid #000;
}

.ng-table-rowselected tr {
    cursor: pointer;
}

.ui-widget-overlay.custom-style
{
    background-color: black;
    background-image: none;
    opacity: 0.5;
    z-index: 1040;
}

#cover {
	text-align: center;
    background: no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
}

label {
    display: inline !important
}

.leaflet-control-layers-overlays label {
    display: block !important
}
